<!DOCTYPE html>
<html lang="en">

    <!-- begin::Head -->
    <head>

        <meta charset="utf-8">
        <title>CIO</title>

        <meta name="description" content="Latest updates and statistic charts">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--begin::Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900&display=swap" rel="stylesheet">
        <!--end::Fonts -->


        <!-- legacy imports     

        <link rel="stylesheet" href="https://campaign-in-one.net/resources/css/creative.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://campaign-in-one.net/dev/vendor/bower_components/select2/dist/css/select2.min.css">
        <link rel="stylesheet" href="https://campaign-in-one.net/vendor/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.css">
        <link rel="stylesheet" href="https://campaign-in-one.net/vendor/bower_components/animate.css/animate.min.css">
        <link rel="stylesheet" href="https://campaign-in-one.net/resources/css/app.css">
        <link rel="stylesheet" type="text/css" href="https://campaign-in-one.net/resources/scss/inc/vendor-overrides/_data-tables.scss">  
        <link rel="stylesheet" type="text/css" href="https://campaign-in-one.net/resources/scss/inc/vendor-overrides/_flatpickr.scss">  
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

         ./legacy imports -->
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
        <!--begin::Page Vendors Styles(used by this page) -->
        <link href="https://campaign-in-one.net/vendor/metronic/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

        <!--end::Page Vendors Styles -->

        <!--begin:: Global Mandatory Vendors -->
        <link href="https://campaign-in-one.net/vendor/metronic/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
        <!--end:: Global Mandatory Vendors -->
        
        <!--begin:: Date range picker -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <!--end:: Date range picker -->


        <!-- metronic mandatory imports -->

        <link rel="stylesheet" type="text/css" href="https://campaign-in-one.net/vendor/metronic/perfect-scrollbar/css/perfect-scrollbar.css"> 
        <link rel="stylesheet" type="text/css" href="https://campaign-in-one.net/resources/css/metronic/style.bundle.css">  
        <link rel="stylesheet" type="text/css" href="https://campaign-in-one.net/resources/css/metronic/login/login.css"> 
        <link rel="stylesheet" type="text/css" href="https://campaign-in-one.net/resources/css/metronic/style.cio.css"> 

        <!-- ./ metronic imports -->

        <!--begin:: metronic optional imports -->
        <link href="https://campaign-in-one.net/vendor/metronic/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
        <link href="https://campaign-in-one.net/vendor/metronic/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
        <link href="https://campaign-in-one.net/vendor/metronic/flaticon/flaticon.css" rel="stylesheet" type="text/css" />
        <link href="https://campaign-in-one.net/vendor/metronic/flaticon2/flaticon.css" rel="stylesheet" type="text/css" />
        <!--end:: metronic optional imports -->

        <!--begin::Spectrum/colourpicker-->
        <link rel="stylesheet" type="text/css" href="https://campaign-in-one.net/resources/css/settings/spectrum.css">
        <link rel="stylesheet" type="text/css" href="https://campaign-in-one.net/resources/css/settings/colorpicker.css">
        <!--end::Spectrum -->

        <!--begin::DatePicker-->
        <link rel="stylesheet" type="text/css" href="https://campaign-in-one.net/resources/css/settings/jquery.datetimepicker.min.css">
        <!--end::datePicker -->

        <!--begin::Slider-->
        <link rel="stylesheet" type="text/css" href="https://campaign-in-one.net/resources/css/settings/ion.rangeSlider.css">
        <!--end::slider -->




    </head>
    <!-- end::Head -->
        
        {% set url = 'https://campaign-in-one.net/' %}

        <!-- begin::Body -->
        <body class="kt-page--loading-enabled kt-page--loading kt-page--fluid kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loadin">

            <!-- Preloader -->
            <div class="pace"></div>
            <!-- /.Preloader -->    


            <!-- begin::Scrolltop -->
            <div id="kt_scrolltop" class="kt-scrolltop">
                <i class="fa fa-arrow-up"></i>
            </div>

            <!-- begin:: Header Mobile -->
            <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
                <div class="kt-header-mobile__logo">
                    <a href="demo2/index.html">
                        <img alt="Logo" src="./assets/media/logos/logo-2-sm.png" />
                    </a>
                </div>
                <div class="kt-header-mobile__toolbar">
                    <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
                    <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more-1"></i></button>
                </div>
            </div>
            <!-- end:: Header Mobile -->


            <div class="kt-grid kt-grid--hor kt-grid--root">
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper " id="kt_wrapper">

                        <!-- begin:: Header -->
                        <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " data-ktheader-minimize="on">
                            <div class="kt-header__top">
                                <div class="kt-container">

                                    <!-- begin:: Brand -->
                                    <!-- begin:: Dropd Down Campaigns -->
                                    <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">


                                        <div class="kt-header__brand-logo">
                                            <a href="{{path_for('auth.home')}}">
                                                <img style="width:50px;" alt="Logo" src="https://campaign-in-one.net/resources/img/cio/cio-logo-weiss-150x150.png" class="kt-header__brand-logo-default" />
                                                <img style="width:50px;" alt="Logo" src="https://campaign-in-one.net/resources/img/cio/cio-logo-weiss-150x150.png" class="kt-header__brand-logo-sticky" />
                                            </a>
                                        </div>
                                        {% if auth.check %}   
                                        <!-- SUPER ADMIN -->
                                        {% if auth.super_admin %}
                                            <div class="kt-header__brand-nav">  
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        {{acc.name|length ? acc.name : "Switch customer"}}
                                                    </button>
                                                    {% if auth.acc_details|length > 0 %}
                                                        <div class="dropdown-menu dropdown-menu-md">
                                                            <ul class="kt-nav kt-nav--bold kt-nav--md-space">
                                                                {% for acc in auth.acc_details %}
                                                                <li class="kt-nav__item">
                                                                    {%if acc.name is not empty %}
                                                                        <a class="kt-nav__link active" href="https://campaign-in-one.net/account/{{acc.account_no}}/switch" value = {{acc.account_no}} active>
                                                                            <span class="kt-nav__link-text">{{acc.name}}</span>
                                                                        </a>
                                                                    {% endif %}
                                                                </li>
                                                                {% endfor %}
                                                            </ul>                                                           
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}


                                        <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                                            <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                                                <ul class="kt-menu__nav ">

                                                    <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Campaigns</span></a>


                                                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                            <ul class="kt-menu__subnav">

                                                                <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path_for('camp.active') }}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Campaigns overview</span></a></li>

                                                                <!--li class="kt-menu__item " aria-haspopup="true"><a href="{{path_for('camp.create')}}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">New campaign</span></a></li>

                                                                <li class="kt-menu__item " aria-haspopup="true"><a href="{{path_for('camp.create')}}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Tracking</span></a></li>

                                                                <li class="kt-menu__item " aria-haspopup="true"><a href="{{path_for('camp.create')}}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Integrations</span></a></li>

                                                                <li class="kt-menu__item " aria-haspopup="true"><a href="{{path_for('camp.create')}}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Settings</span></a></li-->

                                                            </ul>
                                                        </div>
                                                    </li>

                                                    <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a  class="kt-menu__link kt-menu__toggle"--><span class="kt-menu__link-text">Leads</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                            <ul class="kt-menu__subnav">
                                                                <li class="kt-menu__item " aria-haspopup="true"><a href="{{path_for('leads.active')}}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Leads overview</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </li>

                                                    <!--li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Reports</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                            <ul class="kt-menu__subnav">
                                                                <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Reports overview</span></a></li>
                                                            </ul>
                                                        </div>
                                                    </li-->

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end:: Drop Down Campaigns -->
                                  


                                    <!-- end:: Brand -->

                                    <!-- begin:: Header Topbar -->
                                    <div class="kt-header__topbar">


                                        <!--begin: User bar -->
                                        <div class="kt-header__topbar-item kt-header__topbar-item--user">

                                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px" aria-expanded="false">
                                                <span class="kt-header__topbar-username">{{ auth.acc_name}}&nbsp;,&nbsp;</span>
                                                <span class="kt-header__topbar-username"> {{ auth.user }} </span>
                                                <!--<img class="kt-hidden" alt="Pic" src="./assets/media/users/300_21.jpg">-->

                                                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                                <span style="background-color:#7abe73;" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-">{{auth.user|first }}</span>
                                            </div>

                                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                                                <!--begin: Head -->
                                                <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(https://campaign-in-one.net/resources/img/bg/cio-bg-small.jpg)">
                                                    <div class="kt-user-card__avatar">
                                                        <img class="kt-hidden" alt="Pic" src="./assets/media/users/300_25.jpg" />

                                                        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                                        <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">{{auth.user|first }}</span>
                                                    </div>
                                                    <div class="kt-user-card__name">
                                                        {{ auth.user }}
                                                    </div>

                                                </div>

                                                <!--end: Head -->

                                                <!--begin: Navigation -->
                                                <div class="kt-notification">
                                                    <a href="{{ path_for('user.update') }}" class="kt-notification__item">
                                                        <div class="kt-notification__item-icon">
                                                            <i class="fas fa-user-astronaut fa-lg"></i>
                                                        </div>
                                                        <div class="kt-notification__item-details">
                                                            <div class="kt-notification__item-title kt-font-bold">
                                                                Profile settings
                                                            </div>
                                                            <div class="kt-notification__item-time">
                                                                Manage your personal profile settings
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="{{ path_for('acc.update')}}" class="kt-notification__item">
                                                        <div class="kt-notification__item-icon">
                                                            <i class="fas fa-cog fa-lg"></i>
                                                        </div>
                                                        <div class="kt-notification__item-details">
                                                            <div class="kt-notification__item-title kt-font-bold">
                                                                Account settings
                                                            </div>
                                                            <div class="kt-notification__item-time">
                                                                Manage your campaign-in-one settings
                                                            </div>
                                                        </div>
                                                    </a>


                                                    <div class="kt-notification__custom kt-space-between">
                                                        <a href="{{ path_for('auth.signout')}}"  class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
                                                    </div>


                                                </div>

                                                <!--end: Navigation -->
                                            </div>
                                        </div>
                                {% endif %}        
                                        <!--end: User bar -->
                                    </div>

                                    <!-- end:: Header Topbar -->
                                </div>
                            </div>

                        </div>
                        <!-- end:: Header -->



                        <!-- begin:: Content -->
                        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                            <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">  


                                <!-- begin::content -->

                                {% if auth.check %}

                                {% else %}        

                                {% endif %}   

                                {% block content %} {% endblock %} 

                                </div>
                            </div>
                        </div>
                        <!-- end:: content -->


                        <!-- begin:: Footer -->
                        <div class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer">
                            <div class="kt-footer__bottom">
                                <div class="kt-container">
                                    <div class="kt-footer__wrapper">
                                        <div class="kt-footer__logo">
                                            <a href="demo2/index.html">
                                                <img alt="Logo" style="width:50px;" src="https://campaign-in-one.net/resources/img/cio/cio-logo-weiss-150x150.png">
                                            </a>
                                            <div class="kt-footer__copyright">
                                                2019&nbsp;&copy;&nbsp;
                                                <a href="#" target="_blank">campaign-in-one</a>
                                            </div>
                                        </div>
                                        <div class="kt-footer__menu">
                                            <a href="https://treaction.atlassian.net/servicedesk/customer/portal/2/user/login?destination=portal%2F2" target="_blank"><i class="fas fa-question-circle"></i>&nbsp;&nbsp;Help</a>
                                            <a href="https://treaction.atlassian.net/servicedesk/customer/portal/2/user/login?destination=portal%2F2" target="_blank"><i class="fas fa-toolbox"></i>&nbsp;&nbsp;Send feedback</a>
                                            <a href="https://treaction.atlassian.net/servicedesk/customer/portal/2/user/login?destination=portal%2F2" target="_blank"><i class="fas fa-headset"></i>&nbsp;&nbsp;Contact support</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    <!-- end:: Footer -->
                </div>
            </div>
        </div>

        <!-- end:: Page -->


        <!-- Javascript -->

        <!--begin:: metronix global mandatory vendors -->

        <script>
            $(document).ready(function () {
                $('table.display').DataTable();

            });

        </script>


        <script src="https://campaign-in-one.net/vendor/metronic/jquery/dist/jquery.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/vendor/metronic/popper.js/dist/umd/popper.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/vendor/metronic/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/vendor/metronic/js-cookie/src/js.cookie.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/vendor/metronic/moment/min/moment.min.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/vendor/metronic/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/vendor/metronic/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/vendor/metronic/sticky-js/dist/sticky.min.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/vendor/metronic/wnumb/wNumb.js" type="text/javascript"></script>
        
        <!--begin::Global Theme Bundle(used by all pages) -->
        <script src="https://campaign-in-one.net/resources/js/metronic/scripts.bundle.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/resources/js/metronic/login/login-general.js" type="text/javascript"></script>


        <!--begin::Page Vendors(used by this page) -->
        <script src="https://campaign-in-one.net/resources/js/metronic/datatables/datatables.bundle.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/resources/js/metronic/datatables/datatable.hideEmptyCols.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js" type="text/javascript"></script>

        <!--end::Page Vendors -->

        <!--begin::leads-datable -->
        <script src="https://campaign-in-one.net/resources/js/data-local.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/resources/js/metronic/datatables/leads-datatable.js" type="text/javascript"></script>
        <script src="https://campaign-in-one.net/resources/js/metronic/datatables/leads-campaign-datatable.js" type="text/javascript"></script>
            {# <script src="https://campaign-in-one.net/resources/js/dashboard/campaigns.js" type="text/javascript"></script>  #}
        <!--end::leads-datable --> 

        <!--begin::campaigns-datable -->  
        <script src="https://campaign-in-one.net/resources/js/metronic/datatables/campaigns-datatable.js" type="text/javascript"></script> 
        <!--end::campaigns-datable --> 


        <script src="https://campaign-in-one.net/resources/js/metronic/preloader/pace.js" type="text/javascript"></script> 

        <script src="https://campaign-in-one.net/resources/js/form_to_jsObj.js" type="text/javascript"></script> 
        
        <!--begin::daterangepicker-->
        <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript" ></script>
        <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <!--end::daterangepicker --> 

        <!--begin::Google charts-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <!--end::Google chart -->

        <!--begin::Spectrum-->
        <script type="text/javascript" src="https://campaign-in-one.net/resources/js/settings/spectrum.js"></script>
        <script type="text/javascript" src="https://campaign-in-one.net/resources/js/settings/colorpicker.js"></script>
        <!--end::Spectrum -->

        <!--begin::DatePicker-->
        <script type="text/javascript" src="https://campaign-in-one.net/resources/js/settings/jquery.datetimepicker.full.js"></script>
        <!--end::DatePicker -->

        <!--begin::Slider-->
        <script type="text/javascript" src="https://campaign-in-one.net/resources/js/settings/ion.rangeSlider.js"></script>
        <!--end::Slider -->


        <!-- Vendors legacy 

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://campaign-in-one.net/resources/js/inc/functions/vendors.js"></script>
        <script src="https://campaign-in-one.net/resources/js/creative.js"></script>
        <script src="https://campaign-in-one.net/resources/js/dropzone.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/jquery-scrollLock/jquery-scrollLock.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/jquery-scrollLock/jquery-scrollLock.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/jszip/dist/jszip.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/flatpickr/dist/flatpickr.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/select2/dist/js/select2.full.min.js"></script>
        <script src="https://campaign-in-one.net/dev/vendor/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script src="https://campaign-in-one.net/dev/resources/js/app.min.js"></script>

         Vendors legacy -->   

    {% block javascripts %}{% endblock %}
</body>
</html>
