

{% extends "app.twig" %}

{% block content %}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        
        <h3 class="kt-subheader__title">Dashboard</h3>
        
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        
        <span class="kt-subheader__desc">{{curr_acc_name}}</span>
        <!--
        <a href="#" class="btn btn-label-primary btn-bold btn-icon-h kt-margin-l-10">
			Add New
		</a>
        -->
        
    </div>
    
    <!--begin:sub-control menu -->
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            
            
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Actions</button>
            
           
           </div>
       </div>
      
    <!--end::sub-control menu-->
</div>





<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content"> 
    
                
                <!-- begin:: warnings  -->
                           <!--div class="alert alert-danger fade show" role="alert">
                            <div class="alert-icon"><i class="flaticon-warning"></i></div>
                            <div class="alert-text">This is an error! :)</div>
                            <div class="alert-close">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="la la-close"></i></span>
                                </button>
                            </div>
                        </div-->
                 <!-- end:: warnings -->  
                            
    
                    
                <!--begin:alert -->
                        <!--div class="alert alert-light alert-elevate fade show" role="alert">
                            <div class="alert-icon"><i class="flaticon-warning"></i></div>
                            <div class="alert-text">This is a simple tool tipp alert! :)</div>
                            <div class="alert-close">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="la la-close"></i></span>
                                </button>
                            </div>
                        </div-->
                <!--end:alert -->
    
    
<!--Begin::Section-->
    

    {# Graphs for Leads and Campaigns #}
    <div class="row">
        {% set count_leads =  dashboard.leads_count %}
        {% set leads_for_camps =  dashboard.leads_for_camp %}
        <div class="col-xl-6">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                <div  style="border-bottom:1px solid #dbdce7;" class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Bar Chart Leads generated from last 6 months
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active">

                            {# Bar chart for Leads Data #}
                            <div id="chart-leads" data-is-test="{{ count_leads|json_encode() }}" style="width: 800px; height: 500px;"></div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <div class="col-xl-6">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                <div  style="border-bottom:1px solid #dbdce7;" class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                             PIE Chart Leads generated for Campaings 
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active">

                            {# Bar chart for Campaigns Data #}
                            <div id="chart-leads-per-camp" data-is-test="{{ leads_for_camps|json_encode() }}" style="width:800px; height: 500px;"></div>

                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>

{# Recent Leads and Recent Campaigns #}
<div class="row">
    {% set leads =  dashboard.leads %}
    {% set campaigns =  dashboard.campaigns %}
    <!--Begin:: most recent leads -->  
	<div class="col-xl-8">
        <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
	        <div  style="border-bottom:1px solid #dbdce7;" class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
		        <div class="kt-portlet__head-label">
			        <h3 class="kt-portlet__head-title">
				        Recent leads
			        </h3>
		        </div>
                {# Begin: toolbar menu #}
		        <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                        {# Filter leads by calender #}
                        <li class="nav-item">
                           <input type="text" class="form-control" name="daterange" id="LeadsfilterByDate"/>
                        </li>                   
                        
                        {# Link to all Leads#}
                        <li class="nav-item">
                            <a href="{{path_for('leads.active')}}" class="btn btn-brand btn-elevate btn-icon-sm">Show all leads</a>
                        </li>
                    </ul>                
                </div>
                {# end: toolbar menu #}
            </div>
            <div class="kt-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <table class="table table-hover table-responsive kt-dashbd-leads" >                
                            {% set id = 1 %}
                            <thead >
                                <tr>
                                    <th><b>Record ID</b></th>
                                    <th style="width:10%"><b>Campaign</b></th>
                                    <th style="width:20%"><b>Lead reference</b></th>
                                    <th style="width:3%"><b>Salutation</b></th>
                                    <th style="width:5%"><b>Firstname</b></th>
                                    <th style="width:5%"><b>Lastname</b></th>
                                    <th style="width:15%"><b>Email</b></th>
                                    <th style="width:15%"><b>Created</b></th>
                                    <th><b>Status</b></th>      
                                    <th><b>Actions</b></th>                                       
                                </tr>
                            </thead>
                            <tbody >
                                {% if leads|length > 0 %}
                                    {% for lead in leads %}
                                        {% set lead_id = lead.id %}
                                        <tr>
                                            <td>{{ lead.id }}</td>
                                            <td>{{ lead.campaign }}</td>
                                            <td>{{ lead.lead_reference }}</td>
                                            <td>{{ lead.salutation }}</td>
                                            <td>{{ lead.first_name }}</td>    
                                            <td>{{ lead.last_name }}</td>                                            
                                            <td>{{ lead.email }}</td>
                                            <td>{{ lead.created }}</td> 
                                            <td>{{ lead.status }}</td>    
                                            <td nowrap>{{ lead.account_no }},{{ lead.campaign_id}},{{ lead.id  }}</td>                                                  
                                        </tr>
                                        {% set id = id + 1 %}
                                    {% endfor %}
                                {% endif %}          
                            </tbody>                   
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end:: most recent leads --> 

    
    <!--begin:: most recent campaigns-->
    <div class="col-xl-4">
        <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
	        <div style="border-bottom:1px solid #dbdce7;" class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
		        <div class="kt-portlet__head-label">
			        <h3 class="kt-portlet__head-title">
				        Recent campaigns
			        </h3>
		        </div>
		        <div class="kt-portlet__head-toolbar">
				    <a href="{{ path_for('camp.active') }}" class="btn btn-brand btn-elevate btn-icon-sm">Show all campaigns</a>  
                </div>
            </div>
            <div class="kt-portlet__body">
           
                 <div class="tab-content">
                    <div class="tab-pane active">
                        <table class="kt-datatable__table table table table-striped display" id="dashbd-campaigns">
                            {% set id = 1 %}
                            <thead>
                                <tr style="height:25px">
                                    <th>#</th>
                                    <th><b>Name</b></th>
                                    <th><b>URL</b></th>
                                    <th><b>Status</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if campaigns|length > 0 %}
                                    {% for campaign in campaigns %}
                                        <tr style="height:25px">
                                            <td >{{id}}</td>
                                            <td>{{ campaign.name }}</td>
                                            <td>{{ campaign.url }}</td>     
                                            <td>{{ campaign.status }}</td>                     
                                        </tr>
                                        <!-- Increment the Id for each campaign row -->
                                        {% set id = id + 1 %}
                                    {% endfor %}
                                {% endif %}          
                            </tbody>   
                        </table>                         
                    </div>
                </div>         
            </div>
        </div>
    </div>
 
<!--End::Section-->              
</div>

</div>



{% endblock %} 
{% block javascripts %}    
    <script type="text/javascript" src="../resources/js/dashboard/charts/charts.js"></script>
    <script type="text/javascript" src="../resources/js/dashboard/leads.js"></script>
    <script type="text/javascript" src="../resources/js/dashboard/campaigns.js"></script>

{% endblock %}    
