{% extends "app.twig" %}

{% block content %}


    <!-- begin:: warnings  -->
    <div class="alert alert-danger fade {{ error|length ? "show" : "kt-hide" }}" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{ error }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: warnings -->



    <!--begin:alert -->
    <div class="alert alert-light alert-elevate fade {{ success|length? "show" : "kt-hide" }}" role="alert">
        <div class="alert-icon"><i class="far fa-check-square"></i></div>
        <div class="alert-text">{{ success }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!--end:alert -->


    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">Active campaigns</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{ campaigns[0].account }}</span>

            <!--
            <a href="#" class="btn btn-label-primary btn-bold btn-icon-h kt-margin-l-10">
                Add New
            </a>
            -->

        </div>

        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <!--begin:button filter by campaigns-->
                {# <button class="btn btn-secondary" type="button">Tracking</button> #}
                <!--end:button filter by campaigns -->

                <!--begin:button filter by lead status -->
                {# <button class="btn btn-secondary" type="button">Integrations</button> #}
                <!--end:filter by lead status -->

                <!--begin:button filter by date -->
                {# <button class="btn btn-secondary" type="button">Settings</button> #}
                <!--end:button filter by date-->


            </div>
        </div>


        <!--end::sub-control menu-->
    </div>

    <!-- begin:: Content Head -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader"
         style="padding-top:0px!important; padding-bottom:0px!important;">
        <div class="kt-subheader__main">

            <!--begin:create new campaign -->
            <a class="btn btn-brand btn-elevate btn-icon-sm" href="{{ path_for('camp.create') }}">Create new
                campaign</a>
            <!--end:create new campaign -->

        </div>

        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar" style="padding-top:20px;">

            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path_for('camp.active') }}">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('camp.draft') }}">Draft</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path_for('camp.archive') }}">Archive</a>
                </li>
            </ul>
        </div>


        <!--end::sub-control menu-->
    </div>
    <!-- end:: Content Head -->




    {% set id = 1 %}
    {% if campaigns|length > 0 %}
        {% for campaign in campaigns %}

            <!-- begin:: Content -->
            <div class="campaign-list-wrapper kt-grid__item">
                <!--begin:: Portlet-->
                <div class="kt-portlet kt-portlet-campaigns">
                    <div class="kt-portlet__body">
                        <div class="kt-widget kt-widget--user-profile-3">
                            <div class="kt-widget__top">

                                <div class="kt-widget__content">
                                    <div class="kt-widget__head">
                                        <a href="{{ campaign.preview_url }}" target="_blank"
                                           class="kt-widget__username">

                                            <span style="background-color:#7abe73;"
                                                  class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-"><span
                                                        style="color:#fff; font-size:14px;">{{ id }}</span></span>
                                            &nbsp;{{ campaign.name }}&nbsp;<small>-&nbsp;{{ campaign.url }}<i
                                                        style="font-size:10px;"
                                                        class="fas fa-external-link-alt"></i></small>
                                        </a>

                                        <div class="kt-widget__action">

                                            <i class="fas fa-eye fa-lg"></i>&nbsp;&nbsp;<span>0</span>

                                            &nbsp; &nbsp; &nbsp;

                                            <i class="fas fa-users fa-lg"></i>&nbsp;&nbsp;<span>0</span>

                                            &nbsp; &nbsp; &nbsp;

                                            <i class="fas fa-crosshairs fa-lg"></i>&nbsp;&nbsp;<span>{{ campaign.lead_conversions }}</span>

                                            &nbsp; &nbsp; &nbsp;

                                            <i class="fas fa-percentage fa-lg"></i>&nbsp;&nbsp;<span>0,00</span>

                                            &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp;


                                            <button type="button" class="showhr btn btn-secondary btn-sm btn-upper">
                                                details
                                            </button>&nbsp;
                                            <button type="button" class="btn btn-brand btn-sm btn-upper"
                                                    data-toggle="dropdown" aria-expanded="true">action
                                            </button>

                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{{ campaign.preview_url }}"
                                                   target="_blank">Preview Campaign</a>
                                                <a class="dropdown-item" href="{{ campaign.archive_url }}">Archive</a>
                                                <a class="dropdown-item" href="{{ campaign.copy_url }}">Revise</a>
                                                <a class="dropdown-item" href="{{ campaign.splittest }}">Create Splittest</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="child-row">
                                <div class="kt-widget__bottom">

                                    <div class="kt-widget__item">
                                        <i class="fas fa-eye fa-2x"></i>
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">IMPRESSIONS</span>
                                            <span class="kt-widget__value"><span></span>0</span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <i class="fas fa-users fa-2x"></i>
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">VISITORS</span>
                                            <span class="kt-widget__value"><span></span>0</span>
                                        </div>
                                    </div>


                                    <div class="kt-widget__item">
                                        <i class="fas fa-crosshairs fa-2x"></i>
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">CONVERSIONS</span>
                                            <span class="kt-widget__value"><span></span>{{ campaign.lead_conversions }}</span>
                                        </div>
                                    </div>


                                    <div class="kt-widget__item">
                                        <i class="fas fa-percentage fa-2x"></i>
                                        <i class="fas fa-percentage fa-2x"></i>
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">CONVERSION RATE </span>
                                            <span class="kt-widget__value"><span>%</span> 0</span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">
                                        <i class="fas fa-flag-checkered fa-2x"></i>
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">END DATE </span>
                                            <span class="kt-widget__value"><span></span>{{ campaign.archivedate }}</span>
                                        </div>
                                    </div>


                                    <div class="kt-widget__item">

                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Active since:</span>
                                            <span class="kt-widget__value kt-font-brand"><small>{{ campaign.activationdate }}</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">

                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Activated by:</span>
                                            <span class="kt-widget__value kt-font-brand"><small>{{ campaign.activationby_email }}</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">

                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Campaign version:</span>
                                            <span class="kt-widget__value kt-font-brand"><small>{{ campaign.version }}</small></span>
                                        </div>
                                    </div>

                                    <div class="kt-widget__item">

                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Splittest: <span
                                                        class="kt-font-brand">active</span></span>
                                            <span class="kt-widget__value kt-font-brand"><small><a href="#"
                                                                                                   class="show-splittest"><i
                                                                class="fas fa-search"></i> show variants</a></small></span>
                                        </div>
                                    </div>


                                </div>


                            </div>


                        </div>
                    </div>
                </div>
                <!--end:: Portlet-->
                <div class="child-row-splitest">
                    <!--begin:: Widgets/Best Sellers-->
                    <div class="kt-portlet kt-portlet--height-fluid" style="margin-left:50px;">

                        <!--
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Splittest variants
                                </h3>
                            </div>
                        </div>
                        -->

                        <div class="kt-portlet__body" style="padding-bottom:0px!important; padding-top:35px!important;">

                            <div class="kt-widget5">
                                <div class="kt-widget5__item">
                                    <div class="kt-widget5__content">
                                        <div class="kt-widget5__pic">
                                            <span style="border: 1px solid #7abe73; background-color:#fff;"
                                                  class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-"><span
                                                        style="color:#7abe73; font-size:14px;">V1</span></span>
                                        </div>
                                        <div class="kt-widget5__section">
                                            <a href="#" class="kt-widget5__title">
                                                fairsurance - https://fairsurance.net/private-altersvorsorge/aktion/1 <i
                                                        style="font-size:10px;" class="fas fa-external-link-alt"></i>
                                            </a>
                                            <!--<p class="kt-widget5__desc">
                                                Metronic admin themes.
                                            </p>-->
                                            <div class="kt-widget5__info">
                                                <span>Created:</span>
                                                <span class="kt-widget__value kt-font-brand">{{ campaign.activationdate }}</span>
                                                <span>Created by:</span>
                                                <span class="kt-widget__value kt-font-brand">{{ campaign.activationby_email }}</span>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="kt-widget5__content">
                                        <span style="padding-right:60px;"><i
                                                    class="fas fa-eye fa-lg"></i>&nbsp;&nbsp;<span>0.00</span></span>
                                        <span style="padding-right:60px;"><i class="fas fa-users fa-lg"></i>&nbsp;&nbsp;<span>0.00</span></span>
                                        <span style="padding-right:60px;"><i class="fas fa-crosshairs fa-lg"></i>&nbsp;&nbsp;<span>0</span></span>
                                        <span style="padding-right:60px;"><i class="fas fa-percentage fa-lg"></i>&nbsp;&nbsp;<span>0</span></span>
                                        <span style="padding-right:20px;"><i class="fas fa-flag-checkered fa-lg"></i>&nbsp;&nbsp;<span>00.00.0000</span></span>

                                        <button type="button" class="btn btn-secondary btn-sm btn-upper"
                                                data-toggle="dropdown" aria-expanded="true">action
                                        </button>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{{ campaign.preview_url }}" target="_blank">Preview
                                                Campaign</a>
                                            <a class="dropdown-item" href="{{ campaign.archive_url }}">Archive</a>
                                            <a class="dropdown-item" href="{{ campaign.copy_url }}">Revise</a>
{#                                            <a class="dropdown-item" href="#">View Settings</a>#}
                                            {# {% set overview_url = "https://campaign-in-one.net/account/#{campaign.account_no}/campaigns/#{campaign.id}/survey"%}
                                            <a class="dropdown-item" href={{ overview_url }}>More Infomation</a> #}

                                        </div>
                                    </div>
                                </div>

                                <div class="kt-widget5__item">
                                    <div class="kt-widget5__content">
                                        <span style="padding-right:60px;"><i
                                                    class="fas fa-eye fa-lg"></i>&nbsp;&nbsp;<span>0</span></span>
                                        <span style="padding-right:60px;"><i class="fas fa-users fa-lg"></i>&nbsp;&nbsp;<span>0</span></span>
                                        <span style="padding-right:60px;"><i class="fas fa-crosshairs fa-lg"></i>&nbsp;&nbsp;<span>0</span></span>
                                        <span style="padding-right:60px;"><i class="fas fa-percentage fa-lg"></i>&nbsp;&nbsp;<span>0</span></span>
                                        <span style="padding-right:20px;"><i class="fas fa-flag-checkered fa-lg"></i>&nbsp;&nbsp;<span>00.00.0000</span></span>

                                        <button type="button" class="btn btn-secondary btn-sm btn-upper"
                                                data-toggle="dropdown" aria-expanded="true">action
                                        </button>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{{ campaign.preview_url }}" target="_blank">Preview
                                                Campaign</a>
                                            <a class="dropdown-item" href="{{ campaign.archive_url }}">Archive</a>
                                            <a class="dropdown-item" href="{{ campaign.copy_url }}">Revise</a>
                                            <a class="dropdown-item" href="#">View Settings</a>
                                            {# {% set overview_url = "https://campaign-in-one.net/account/#{campaign.account_no}/campaigns/#{campaign.id}/survey"%}
                                            <a class="dropdown-item" href={{ overview_url }}>More Infomation</a> #}

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!--end:: Widgets/Best Sellers-->

            </div>



            <style>

                .kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
                    width: 100%;
                    padding-left: 0rem !important;

                }

                .kt-portlet-campaigns {

                    border-left: 15px solid #7abe73;
                    margin-bottom: 15px;
                }

                .fas {

                    color: #7abe73 !important;
                }

                .campaign-item-wrapper {

                }

                .child-row {


                }
            </style>

            {% set id = id + 1 %}
        {% endfor %}
    {% endif %}











        <!-- begin:: Content
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">


               


        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">




                <div class="toolbar toolbar--inner">
                    <ul class="nav nav-pills">    
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path_for('camp.active') }}">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('camp.draft') }}">Draft</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path_for('camp.archive') }}">Archive</a>
                        </li>
                    </ul>
                </div>


                <!--begin: Datatable 
                <table class="table table-striped table-bordered table-hover table-checkable" id="kt_table_2">
                    {% set id = 1 %}
                    <thead>
                        <tr>
                            <th scope="col" class="text-center"></th>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">URL</th>
                            <th scope="col">Activation Date</th>
                            <th scope="col">Activated By</th>
                            {# <th scope="col">Last Update</th>
                            <th scope="col">Last Update By</th>     #}
                            <th scope="col" class="text-center">Version</th>
                            <th scope="col" class="text-center">Status</th>
                            <th scope="col" class="text-center">Actions</th>     
                        </tr>
                    </thead>
                    <tbody>
                        {% if campaigns|length > 0 %}
                            {% for campaign in campaigns %}
                                <tr>
                                    <td><a scope="row" class="showhr align-middle text-center" href="#"><i class="fas fa-caret-right"></i></a></td>
                                    <th scope="row" class="align-middle text-center">{{id}}</th>
                                    <td class="align-middle">{{ campaign.name }}</td>
                                    <td class="align-middle">{{ campaign.url }}</td>    
                                    <td class="align-middle">{{ campaign.activationdate }}</td> 
                                    <td class="align-middle">{{ campaign.activationby_email }}</td> 
                                    {# <td class="align-middle">{{ campaign.updated }}</td>
                                    <td class="align-middle">{{ campaign.updated_by_email }}</td>    #}
                                    <td class="align-middle text-center">{{ campaign.version }}</td> 
                                    <td class="align-middle text-center"><span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill">{{ campaign.status }}</span></td>
                                    <td class="text-center">
                                        <span class="dropdown">
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                                            <i class="la la-edit"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{{campaign.preview_url}}" target="_blank">Preview Campaign</a> 
                                                <a class="dropdown-item" href="{{ campaign.archive_url }}">Archive</a>
                                                <a class="dropdown-item" href="{{ campaign.copy_url }}">Revise</a>
                                                <a class="dropdown-item" href="#">View Settings</a>
                                                {# {% set overview_url = "https://campaign-in-one.net/account/#{campaign.account_no}/campaigns/#{campaign.id}/survey"%}
                                                <a class="dropdown-item" href={{ overview_url }}>More Infomation</a> #}
                                            </div>
                                        </span>
                                    </td>                      
                                </tr>
                        
              
                                <!-- child row 
                                
                          
                                    <tr class="child-row">
                                
                                        <th scope="col" class="text-center"></th>
                                        <th scope="col" class="text-center">#</th>
                                        <th scope="col">Variant</th>
                                        <th scope="col">URL</th>
                                        <th scope="col">Activation Date</th>
                                        <th scope="col">Activated By</th>
                                        {# <th scope="col">Last Update</th>
                                        <th scope="col">Last Update By</th>     #}
                                        <th scope="col" class="text-center">Visitors</th>
                                        <th scope="col" class="text-center">Conversions</th>
                                        <th scope="col" class="text-center">Conversion Rate</th>  
                                       
                                    </tr> 
                        
                                    <tr class="child-row">
                                
                                        <th></th>
                                        <th></th>
                                        <th>1</th>
                                        <th>https://ab-test/1</th>
                                        <th>2019-10-07</th>
                                        <th>sven.banks@treaction.de</th>
                                        <th>542</th>
                                        <th>23</th>
                                        <th>1,3%</th>
                                        <th></th>
                                       
                                    </tr> 
                        
                        
                                /. child row -->
                        
      
                        
                                <!-- Increment the Id for each campaign row
                                {% set id = id + 1 %}
                            {% endfor %}
                        {% endif %}          
                    </tbody>
                </table>  
  
            </div>
        </div> 
    </div>       
-->

    <p>&nbsp;</p>


{% endblock %}     


