{% extends "app.twig" %}

{% block content %}

    <div class="card">
        <h4 class="card-title text-center ">Update Campaign</h4>
    </div>
    <div class="card-body">
     
        <form method="post">
            
            <div class="form-group ">
                <input class="form-control" id="name1" value="{{camp_details.id ? camp_details.id : ''}}" name="camp_id" type="hidden" required />
            </div>            
            <div class="form-group ">
                <label class="control-label requiredField" for="camp_name">
                    Campaign Name 
                    <span class="asteriskField">
                        *
                    </span>
                </label>
                <input class="form-control" id="name1" value="{{camp_details.name ? camp_details.name : ''}}" name="camp_name" type="text" required/>
            </div>
            <div class="form-group ">
                <label class="control-label requiredField" for="camp_url">
                    URL
                    <span class="asteriskField">
                        *
                    </span>
                </label>
                <input class="form-control" id="name2" value="{{camp_details.url ? camp_details.url : ''}}" name="camp_url" type="text" required/>
            </div>
            <div class="form-group ">
                <label class="control-label requiredField" for="comp_comment">
                    Comment
                    <span class="asteriskField">
                        *
                    </span>
                </label>
                <input class="form-control" id="email" value="{{camp_details.comment ? camp_details.comment : ''}}" name="comp_comment" type="text" />
            </div>    
            <br>
            <div class="form-group">
                <div>
                    <button class="btn btn-primary " name="submit" type="submit">
                        Update
                    </button>
                </div>
            </div>
            {% if campaign.error %}
                <div class="alert alert-primary login-alert" role="alert" style="color:#721c24; background-color: #f8d7da">{{campaign.error}}</div>
            {% endif %}       
        </form>  
    </div>    


{% endblock %}    
