body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #191919;
  text-align: left;
  background-color: #f5f5f5; }

.kt-header{
    
    border-top:4px solid #191919;
    /*background-image: url(http://devfrontend.campaign-in-one.net/resources/img/bg/cio-bg-fullwidth.jpg);*/
    background-color: #191919!important;
    height:70px;
}


.kt-header__bottom{background-color: #191919!important;}
.kt-footer {background-color: #191919!important;}
.kt-footer__bottom{background-color: #191919!important;}

/* begin:: user badge */
.kt-badge--lg{
    
    background-color: #7abe73;
}
/* end:: user badge */




/* CUSTOM ALERTS */

.alert-danger{
    
    background-color: crimson!important;
}


.flaticon-warning{
    
   
}


/* NAVIGATION */


/* dropdown button in top menu */
.kt-header__brand .kt-header__brand-nav .dropdown .btn {
      background-color: rgb(111,111,111,0.1);
      
      padding: 0.75rem 1.5rem;
      color: #fff; }

 .dropdown-active {
    background-color: #7abe73;
     border-radius:3px;
     
    }
/* green button on sign in page */
.btn-elevate:hover,.btn-elevate:active,.btn-elevate:focus{
    
    /*background-color: #191919!important;
    border: 1px solid #191919!important; */
    
    
    background-color: #497245!important;
    border: 1px solid #497245!important;
    
   
}

.kt-menu__active{
    
    background-color: #191919!important;
    font-weight:600;
}



.kt-menu__link-text{
    
    color:#fff!important;
}

.kt-menu__link-text:hover{
    
    /* color:#7abe73!important; */
}

/* TOP MENU NAVIGATION BUTTONS */
.kt-menu__toggle:hover,
.kt-menu__toggle:active,
.kt-menu__toggle:focus,
.kt-menu__link:hover{
    
   /* background-color: rgba(122,190,115,0.3) !important; */
   /* background-color: #191919!important;*/
    
    background-color: #22262c!important;
    box-shadow: none!important;
    
    /*border-bottom-left-radius: 0px!important;*/
    /*border-bottom-right-radius: 0px!important;*/
    

}

/* DROP DOWN SUBMENU */
.kt-menu__submenu, kt-menu__subnav
{
    background-color: #22262c!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}





.kt-menu__link:hover{
     color:#7abe73!important;
}



/* DATA TABLES CUSTOM CSS */
.dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td {
    
    color:#191919;
}



.kt-badge--success{
    
    background-color: #7abe73!important;
}

.btn-green{
    
    background-color: #7abe73!important;
}


/* FONTS */

.kt-font-success {
  color: #7abe73  !important; }






/* PAGE LOADER */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: block;
}

.pace .pace-progress {
  background: #7abe73;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}


/* lead table export excel button */
div#export-table{
    cursor:pointer;
}

div#export-table div.dt-buttons button[type="button"]{
    background: transparent !important;
    border: 0px !important;
    color: #fff !important;
}

/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-3;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-2;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:-1;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}




