
{% extends "app.twig" %}

{% block content %}



<!-- begin::Body -->
	<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
        
        

		<!-- begin:: Page -->
		<div class="kt-grid kt-grid--ver kt-grid--root">
			<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
					<div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
						<div class="kt-login__container">
                            
							<div style="" class="kt-login__logo">
								<a href="#">
									<img src="http://campaign-in-one.net/resources/img/cio/CIO_weiss.svg">
								</a>
							</div>

                            <!-- begin:: signin -->
							<div class="kt-login__signin" id="l-login">
								<form class="kt-form" method="post">
                                    
                                    <!-- input email address -->
									<div class="input-group {{ errors.email ? 'has_error' : ' '}}">
										 <input class="form-control" placeholder="Email Address" value="{{ signin.email ? signin.email : ' '}}" name="email" type="email" autocomplete="off">
                                    
                                          {% if errors.email %}
                                                <span class="help-block" style="color:yellow">{{errors.email | first }}</span>
                                          {% endif %}    
									</div>
                                    <!-- ./input email address -->
                                    
                                    <!-- input password -->
									<div class="input-group {{ errors.password ? 'has_error' : ' '}}">
										<input type="password" class="form-control" placeholder="Password" id="text3" name="password" autocomplete="off">
                                        
                                        {% if errors.password %}
                                            <span class="help-block" style="color:yellow">{{errors.password | first }}</span>
                                        {% endif %}    
									</div>
                                    <!-- ./input password -->
                                    
									<div class="row kt-login__extra">
										<div class="col">
											<label class="kt-checkbox">
												<input type="checkbox" name="remember"> Remember me
												<span></span>
											</label>
										</div>
										<div class="col kt-align-right">
											<a href="{{ path_for('auth.forgotpassword') }}" id="" class="kt-login__link">Forget Password ?</a>
										</div>
									</div>
                                    
									<div class="kt-login__actions">
										<button id="signin" name="submit" type="submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Sign In</button>
                                        <!--<button style="cursor:pointer;" class="btn btn--icon login__block__btn" id="signin" name="submit" type="submit"><i class="fas fa-sign-in-alt"></i></button>-->
									</div>
                                    
                                    <div class="kt-login__account">
                                        <span class="kt-login__account-msg">
                                            Don't have an account yet ?
                                        </span>&nbsp;&nbsp;
                                        <a href="{{ path_for('user.signup')}}" id="" class="kt-link kt-link--light kt-login__account-link">Sign Up</a>
                                    </div>

								</form>
							</div>
                            <!-- end:: signin -->
                            
                             {# {% if failed_login %}
                                <div class="is-invalid alert alert-primary login-alert" role="alert" style="color:#721c24; background-color: #f8d7da">
                                    {{ failed_login }}
                                </div>
                            {% endif %}        

                            {% if user_blocked %}
                                <div class="alert alert-primary login-alert" role="alert" style="color:#721c24; background-color:#f8d7da">
                                    {{ user_blocked }}
                                </div>
                            {% endif %}            

                            {% if message %}
                                <div class="alert alert-primary login-alert" role="alert" style="color:#721c24; background-color: #f8d7da">
                                    {{ message }}
                                </div>
                            {% endif %}                                                 #}
    
                        </div>

                        {% set suc_flag  = 0 %}
                        {% set err_flag  = 0 %}
                        {% if error|length %}
                            {% set err_flag  = 1 %}    
                            {% set error_msg = error %}
                        {% endif %}

                        <!-- begin:: warnings  -->
                            <div class="alert alert-danger fade {{err_flag == '1'? "show" : "kt-hide"}}" role="alert" style="margin-top:45px">
                                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                <div class="alert-text">{{error_msg}}</div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                        <!-- end:: warnings -->  
                                
        
                        {% if fgpwd.success|length %}
                            {% set suc_flag  = 1 %}    
                            {% set success_msg = fgpwd.success %}
                        {% endif %}
                         {% if success|length %}
                            {% set suc_flag  = 1 %}    
                            {% set success_msg = success %}
                        {% endif %}                                               
                        <!--begin:alert -->
                            <div class="alert alert-light alert-elevate fade {{suc_flag == '1'? "show" : "kt-hide"}}" role="alert" style="margin-top:45px">
                                <div class="alert-icon"><i class="far fa-check-square"></i></div>
                                <div class="alert-text">{{success_msg}}</div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                        <!--end:alert -->    

                    </div>
                </div>
            </div>
        </div>
        
        <div class="stars"></div>
        <div class="twinkling"></div>
      
{% endblock %}

{% block javascripts %}
	<script>
		let auth = {{ errors }}
		console.log(auth);
	</script>
{% endblock %}
