{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle">
                <span></span>
            </button>

            <h3 class="kt-subheader__title">Integrations</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <h3 class="kt-subheader__title">HTTP Outbound</h3>

            <span class="kt-subheader__desc">{{ hb.camp_name }}
            </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div
                    class="kt-subheader__wrapper">

                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft">
                    <i class="la la-angle-left"></i>Back to Campaigns</a>
                <!--end:Back to campaigns -->

            </div>
        </div>
    </div>


    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
            {{ include('/campaign_settings/leftmenu.twig') }}

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">URL Parameter&nbsp;&nbsp;&nbsp;| <small>Mapping&nbsp;&nbsp;&nbsp;<a
                                                    data-html="true" class="cio-popover" data-toggle="popover" title=""
                                                    data-content="This table is to map url parameters"><i
                                                        style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></small>
                                    </h3>
                                </div>
                            </div>

                            <!-- Editable table -->
                            <div class="card">

                                <div class="card-body">
                                    <div id="table" class="table-editable">

                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                            <thead>
                                            <tr>
                                                <th class="text-center"><strong>Campaign-In-One</strong></th>
                                                <th class="text-center"><strong>Host</strong></th>
                                                <th class="text-center"><strong>Status</strong></th>
                                                <th class="text-center"><strong>Action</strong></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- This is our clonable table line -->
                                            </tbody>
                                        </table>
                                    </div>
                                    <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                                                    class="fas fa-plus fa-2x" style="color:#7abe73;"></i></a></span>
                                    <button class="btn btn-brand btn-bold update" type="submit" value="update">Update
                                    </button>

                                </div>
                            </div>
                        </div>
                        <!-- Editable table -->
                    </div>
                    <div class="col-xl-6">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">HTTP Outbound&nbsp;&nbsp;&nbsp;|
                                        <small>Configuration</small></h3>
                                </div>
                            </div>

                            <form autocomplete="off" class="kt-form kt-form--label-right" method="post">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">API key &nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="Please specify the API Key to create contact."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control" value="{{ c_set.apiKey }}"
                                                           name="apiKey" placeholder="Ente API Key"
                                                           autocomplete="false">
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                            <div hidden>
                                                <input type="text" class="form-control" id="urlID" name="mappingTable"
                                                       autocomplete="false">
                                                <input type="text" class="form-control" name="mappingTable" id="second"
                                                       value="{{ c_set.mappingTable }}" autocomplete="false">
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3"></div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button class="btn btn-brand btn-bold" id="submit" type="submit"
                                                        value="save">Save
                                                </button>&nbsp;
                                                <button class="btn btn-secondary" type="reset">Reset settings</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.11/js/bootstrap-select.js"></script>
    <script>
        const $tableID = $('#table');
        const $BTN = $(".update");
        const $EXPORT = $('#export');
        let i = 1;
        let selectOptions = generateSelect(i);
        const newTr = `<tr class="defaultTableValue" id ="` + i + `">
                                        <td class="pt-3-half" >` + selectOptions + `</td>
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" >
                                        <input type="checkbox" name="status">
                                        </td>
                                        <td>
                                          <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                                        </td>
                                      </tr>`;

        $('.table-add').on('click', 'a', () => {
            $('tbody').append(newTr);
            i++;
        });

        $tableID.on('click', '.table-remove', function () {

            $(this).parents('tr').detach();
        });

        $tableID.on('click', '.table-up', function () {

            const $row = $(this).parents('tr');

            if ($row.index() === 1) {
                return;
            }

            $row.prev().before($row.get(0));
        });

        $tableID.on('click', '.table-down', function () {

            const $row = $(this).parents('tr');
            $row.next().after($row.get(0));
        });

        // A few jQuery helpers for exporting only
        jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;

        $BTN.on('click', () => {

            const $rows = $tableID.find('tr:not(:hidden)');
            const headers = [];
            const data = [];

            // Get the headers (add special header logic here)
            $($rows.shift()).find('th:not(:empty)').each(function () {

                headers.push($(this).text().toLowerCase());
            });

            // Turn all existing rows into a loopable array
            $rows.each(function () {
                const $td = $(this).find('td');
                const h = {};

                // Use the headers from earlier to name our hash keys
                headers.forEach((header, i) => {

                    h[header] = $td.eq(i).text();
                });

                data.push(h);
            });

            console.log("This is data",data);

            value = JSON.stringify(data);
            encryptedValue = btoa(value);
            $("#urlID").attr('value', encryptedValue);
            $("#second").prop('disabled', true);
            //$("#submit").click();
            // Output the result
            $EXPORT.text(JSON.stringify(data));
        });

        function generateSelect(i){
            let HTML ="" ;
            //get mapping array from database but for now hard coded
            let campaignInOneParams = ["email","salutation","first_name","last_name","firma","street","postal_code","city","country","phone","url","campaign","utm_parameters","trafficsource","split_version","lead_reference","targetgroup","affiliateID","affiliateSubID","status","ip","device_type","device_browser","device_os","device_os_version"];
            campaignInOneParams.forEach(function(value) {
                let innerHTML = `<option value=` + value + `"">` + value + `</option>`;
            });
            return HTML;
        }
    </script>

    <script>
        let mapping = "{{ c_set.mappingTable }}";
        if (mapping) {
            mapping = JSON.parse(atob("{{ c_set.mappingTable }}"));
            console.log("This is mapping",mapping);
        } else {
            mapping = [];
        }
        $.each(mapping, function (index, value) {
            let CIO = value["campaign-in-one"];
            let host = value["host"];
            let status = value["status"];
            const newTrTest = `
        <tr class="">
                                        <td class="pt-3-half" contenteditable="true">` + CIO + `</td>
                                        <td class="pt-3-half" contenteditable="true">` + host + `</td>
                                        <td class="pt-3-half" contenteditable="true">` + status + `</td>
                                        <td>
                                          <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                                        </td>
                                    </tr>

        `;
            //appending html to
            $('tbody').append(newTrTest);
        });


    </script>

    <script>
        $(function () {
            $('.cio-popover').popover({
                container: 'body',
                trigger: 'hover'
            })

            $('#menu-integrations').addClass("show");
            $('#int-http-Outbound').addClass("kt-widget__item--active");

        })
    </script>

{% endblock %}
