{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle">
                <span></span>
            </button>

            <h3 class="kt-subheader__title">Integrations</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <h3 class="kt-subheader__title">Hubspot</h3>

            <span class="kt-subheader__desc">{{ details.acc_name }}
            </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div
                    class="kt-subheader__wrapper">

                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft">
                    <i class="la la-angle-left"></i>Back to Campaigns</a>
                <!--end:Back to campaigns -->

            </div>
        </div>
    </div>


    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
            {{ include('/campaign_settings/leftmenu.twig') }}

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Hubspot&nbsp;&nbsp;&nbsp;| <small>Mapping&nbsp;&nbsp;&nbsp;<a
                                                    data-html="true" class="cio-popover" data-toggle="popover" title=""
                                                    data-content="[INSERT TOOLTIP TEXT HERE]"><i style="color:#c5c5c5;"
                                                                                                 class="fas fa-info-circle fa-lg"></i></a></small>
                                    </h3>
                                </div>
                            </div>

                            <!-- Editable table -->
                            <div class="card">

                                <div class="card-body">
                                    <div id="table" class="table-editable">

                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                            <thead>
                                            <tr>
                                                <th class="text-center"><strong>Campaign-In-One</strong></th>
                                                <th class="text-center"><strong>Hubspot</strong></th>
                                                <th class="text-center"><strong>Field type</strong></th>
                                                <th class="text-center"><strong>Action</strong></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- This is our clonable table line which will be generated automatically form script-->

                                            </tbody>
                                        </table>
                                    </div>

                                    <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                                                    class="fas fa-plus fa-2x" style="color:#7abe73;"></i></a></span>
                                    <button class="btn btn-brand btn-bold update" type="submit" value="update">Update
                                    </button>

                                </div>
                            </div>
                        </div>
                        <!-- Editable table -->
                    </div>
                    <div class="col-xl-6">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Hubspot&nbsp;&nbsp;&nbsp;|
                                        <small>Configuration</small></h3>
                                </div>
                            </div>

                            <form autocomplete="off" class="kt-form kt-form--label-right" method="post">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Sync&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title="" data-content="Integrate Hubspot"><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.sync_hb ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="hidden" name="sync_hb" value="off">
                                                            <input type="checkbox"  {{ sync_status }} name="sync_hb">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Append First Name to
                                                    Deal&nbsp;&nbsp;&nbsp; <a data-html="true" class="cio-popover"
                                                                              data-toggle="popover" title=""
                                                                              data-content="If setting is active the First Name of the User is appended to name of Deal in Hubspot."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.sync_app_frt_name ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="checkbox"  {{ sync_status }} name="sync_app_frt_name">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Append Last Name to Deal&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title=""
                                                       data-content="If setting is active the Last Name of the User is appended to name of Deal in Hubspot."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.sync_app_lst_name ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="checkbox"  {{ sync_status }} name="sync_app_lst_name">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Append City to Deal&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title=""
                                                       data-content="If setting is active the City of the User is appended to name of Deal in Hubspot."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = "" %}
                                                            {% if c_set.sync_app_city ==  "on" %}
                                                                {% set sync_status = "checked" %}
                                                            {% endif %}
                                                            <input type="checkbox"  {{ sync_status }} name="sync_app_city">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Deal Name&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title=""
                                                       data-content="Please specify the name of the Deal which is created automatically in Hubspot."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.hb_dl_name }}" name="hb_dl_name"
                                                           placeholder="Please enter the Deal Name"
                                                           autocomplete="false">
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Deal Amount&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title=""
                                                       data-content="Please specify the Deal amount for the Deal in Hubspot."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="number" class="form-control"
                                                           value="{{ c_set.hb_dl_amount }}" name="hb_dl_amount"
                                                           placeholder="Please enter the Deal Amount"
                                                           autocomplete="false">
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Deal Segment&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title=""
                                                       data-content="Please specify the Deal Segement for Deal in Hubspot."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.hb_dl_segment }}" name="hb_dl_segment"
                                                           placeholder="Please enter the Deal Segment"
                                                           autocomplete="false">
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Deal Type&nbsp;&nbsp;&nbsp;<a
                                                            data-html="true" class="cio-popover" data-toggle="popover"
                                                            title=""
                                                            data-content="Please specify the Deal Type for Deal in Hubspot."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.hb_dl_type }}" name="hb_dl_type"
                                                           placeholder="Please enter the Deal Type"
                                                           autocomplete="false">
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Deal Stage&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title=""
                                                       data-content="Please specify the Deal Stage for the Deal in Hubspot."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.hb_dl_stage }}" name="hb_dl_stage"
                                                           placeholder="Please enter the Deal Stage"
                                                           autocomplete="false">
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Deal close date&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title=""
                                                       data-content="Please specify the closing date for the Deal in Hubspot."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="date" class="form-control"
                                                           value="{{ c_set.hb_dl_clsedate }}" name="hb_dl_clsedate"
                                                           placeholder="Please enter the Deal closing date"
                                                           autocomplete="false">
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Deal Hubspot id&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title=""
                                                       data-content="Please specify the Hubspot User Id for Hubspot account."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.hubspotOwnerId }}" name="hubspotOwnerId"
                                                           placeholder="Please enter the ID" autocomplete="false">
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Deal Pipeline&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title=""
                                                       data-content="Please specify the Pipeline Id for the Deal in Hubspot."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.hb_dl_pipeline }}" name="hb_dl_pipeline"
                                                           placeholder="Please enter the Deal Pipeline"
                                                           autocomplete="false">
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-5 col-form-label">Deal qualitaet&nbsp;&nbsp;&nbsp;
                                                    <a data-html="true" class="cio-popover" data-toggle="popover"
                                                       title=""
                                                       data-content="Please specify the qualitaet for the Deal in Hubspot."><i
                                                                style="color:#c5c5c5;"
                                                                class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-7 col-xl-6">
                                                    <input type="text" class="form-control"
                                                           value="{{ c_set.hb_dl_qualitaet }}" name="hb_dl_qualitaet"
                                                           placeholder="Please enter Deal qualitaet"
                                                           autocomplete="false">
                                                    <input type="text" class="form-control" value="{{ c_set.id }}"
                                                           name="id" placeholder="This is for ID" autocomplete="false"
                                                           hidden>
                                                </div>
                                            </div>
                                            <div hidden>
                                                <input type="text" class="form-control" id="urlID" name="mappingTable"
                                                       autocomplete="false">
                                                <input type="text" class="form-control" name="mappingTable" id="second"
                                                       value="{{ c_set.mappingTable }}" autocomplete="false">
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3"></div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button class="btn btn-brand btn-bold" id="submit" type="submit"
                                                        value="save">Save
                                                </button>&nbsp;
                                                <button class="btn btn-secondary" type="reset">Reset settings</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        const $tableID = $('#table');
        const $BTN = $(".update");
        const $EXPORT = $('#export');
        const newTr = `
                                    <tr class="">
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" contenteditable="true">custom</td>
                                        <td>
                                          <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                                        </td>
                                    </tr>`;


        $('.table-add').on('click', 'a', () => {
            $('tbody').append(newTr);
        });

        $tableID.on('click', '.table-remove', function () {

            $(this).parents('tr').detach();
        });

        $tableID.on('click', '.table-up', function () {

            const $row = $(this).parents('tr');

            if ($row.index() === 1) {
                return;
            }

            $row.prev().before($row.get(0));
        });

        $tableID.on('click', '.table-down', function () {

            const $row = $(this).parents('tr');
            $row.next().after($row.get(0));
        });

        // A few jQuery helpers for exporting only
        jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;

        $BTN.on('click', () => {

            const $rows = $tableID.find('tr:not(:hidden)');
            const headers = [];
            const data = [];

            // Get the headers (add special header logic here)
            $($rows.shift()).find('th:not(:empty)').each(function () {

                headers.push($(this).text().toLowerCase());
            });

            // Turn all existing rows into a loopable array
            $rows.each(function () {
                const $td = $(this).find('td');
                const h = {};

                // Use the headers from earlier to name our hash keys
                headers.forEach((header, i) => {

                    h[header] = $td.eq(i).text();
                });

                data.push(h);
            });

            console.log(data);

            value = JSON.stringify(data);
            encryptedValue = btoa(value);
            $("#urlID").attr('value', encryptedValue);
            $("#second").prop('disabled', true);
            $("#submit").click();

            // Output the result
            $EXPORT.text(JSON.stringify(data));
        });
    </script>

    <script>
        let mapping = "{{ c_set.mappingTable }}";
        if (mapping) {
            mapping = JSON.parse(atob("{{ c_set.mappingTable }}"));
            console.log(mapping);
        } else {
            mapping = [
                {
                    "campaign-in-one": "email",
                    "hubspot": "EMAIL",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "salutation",
                    "hubspot": "SALUTATION",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "firstname",
                    "hubspot": "FIRSTNAME",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "lastname",
                    "hubspot": "LASTNAME",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "title",
                    "hubspot": "TITLE",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "sex",
                    "hubspot": "gender",
                    "field type": "standard"
                }
            ];
        }
        $.each(mapping, function (index, value) {
            let CIO = value["campaign-in-one"];
            let Hubspot = value["hubspot"];
            let fieldType = value["field type"];
            const newTrTest = `
        <tr class="">
                                        <td class="pt-3-half" contenteditable="true">` + CIO + `</td>
                                        <td class="pt-3-half" contenteditable="true">` + Hubspot + `</td>
                                        <td class="pt-3-half" contenteditable="true">` + fieldType + `</td>
                                        <td>
                                          <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                                        </td>
                                    </tr>

        `;
            //appending html to
            $('tbody').append(newTrTest);
        });


    </script>

    <script>
    $(function () {
        $('.cio-popover').popover({
            container: 'body',
            trigger: 'hover'
        })

        $('#menu-integrations').addClass("show");
        $('#int-hb').addClass("kt-widget__item--active");
    })
</script>

    <script>
        $('.mioSelect').on('change', function () {
            var mioSelect = $(".mioSelect").val();
            if (mioSelect == "MarketingAutomation") {
                $('.CE').hide();
                $('.MA').show();
            } else if (mioSelect == "ContactEvent" || mioSelect == "DOIXorContactEvent") {
                $('.MA').hide();
                $('.CE').show();
            } else {
                $('.MA').hide();
                $('.CE').hide();
            }
        });
    </script>

{% endblock %}
