{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle">
                <span></span>
            </button>

            <h3 class="kt-subheader__title">Integrations</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <h3 class="kt-subheader__title">Mapping table</h3>

            <span class="kt-subheader__desc">{{ details.acc_name }}
            </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div
                    class="kt-subheader__wrapper">

                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft">
                    <i class="la la-angle-left"></i>Back to Campaigns</a>
                <!--end:Back to campaigns -->

            </div>
        </div>
    </div>


    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
            {{ include('/campaign_settings/leftmenu.twig') }}

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Mapping&nbsp;&nbsp;&nbsp;|<small>Table&nbsp;&nbsp;&nbsp;<a
                                                    data-html="true" class="cio-popover" data-toggle="popover" title=""
                                                    data-content="Here you can organise and declare all your mapping standard fields and custom field from Campaign-In-One to third party integrations.<br><br>All table fields are editable. You can add a new custom field mapping with the 'Add mapping custom field +' button. Please save your changes with the 'Save mapping table' button.<br><br>Newly added integrations will be automatically added to this table in a new column."><i
                                                        style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></small>
                                    </h3>
                                </div>
                            </div>

                            <!-- Editable table -->
                            <div class="card">

                                <div class="card-body">
                                    <div id="table" class="table-editable">

                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                            <thead>
                                            <tr>
                                                <th class="text-center"><strong>Campaign-In-One</strong></th>
                                                <th class="text-center"><strong>HTML Form</strong></th>
                                                <th class="text-center"><strong>Mail-In-One</strong></th>
                                                <th class="text-center"><strong>Hubspot</strong></th>
                                                <th class="text-center"><strong>Email forwarding</strong></th>
                                                <th class="text-center"><strong>Field type</strong></th>
                                                <th class="text-center"><strong>Action</strong></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- This is our clonable table line which will be generated automatically form script-->

                                            </tbody>
                                        </table>
                                    </div>

                                    <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                                                    class="fas fa-plus fa-2x" style="color:#7abe73;"></i></a></span>
                                    <button class="btn btn-brand btn-bold update" type="submit" value="update">Update
                                    </button>

                                </div>
                            </div>
                        </div>
                        <!-- Editable table -->
                    </div>
                    <div class="col-xl-6" hidden>
                        <div class="kt-portlet">
                            <form autocomplete="off" class="kt-form kt-form--label-right" method="post">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            <div hidden>
                                                <input type="text" class="form-control" id="urlID" name="mappingTable"
                                                       autocomplete="false">
                                                <input type="text" class="form-control" name="mappingTable" id="second"
                                                       value={{ c_set.mappingTable }} autocomplete="false">
                                                <input type="text" class="form-control"
                                                       value="{{ c_set.id }}" name="id"
                                                       placeholder="This is for ID" autocomplete="false">
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3"></div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button class="btn btn-brand btn-bold" id="submit" type="submit"
                                                        value="save">Save
                                                </button>&nbsp;
                                                <button class="btn btn-secondary" type="reset">Reset settings</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        const $tableID = $('#table');
        const $BTN = $(".update");
        const $EXPORT = $('#export');
        const newTr = `
                                    <tr class="">
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" contenteditable="true">[enter value]</td>
                                        <td class="pt-3-half" contenteditable="true">custom</td>
                                        <td>
                                          <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                                        </td>
                                    </tr>`;


        $('.table-add').on('click', 'a', () => {
            $('tbody').append(newTr);
        });

        $tableID.on('click', '.table-remove', function () {

            $(this).parents('tr').detach();
        });

        $tableID.on('click', '.table-up', function () {

            const $row = $(this).parents('tr');

            if ($row.index() === 1) {
                return;
            }

            $row.prev().before($row.get(0));
        });

        $tableID.on('click', '.table-down', function () {

            const $row = $(this).parents('tr');
            $row.next().after($row.get(0));
        });

        // A few jQuery helpers for exporting only
        jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;

        $BTN.on('click', () => {
            $( ".justShow" ).remove();
            const $rows = $tableID.find('tr:not(:hidden)');
            const headers = [];
            const data = [];

            // Get the headers (add special header logic here)
            $($rows.shift()).find('th:not(:empty)').each(function () {

                headers.push($(this).text().toLowerCase());
            });

            // Turn all existing rows into a loopable array
            $rows.each(function () {
                const $td = $(this).find('td');
                const h = {};

                // Use the headers from earlier to name our hash keys
                headers.forEach((header, i) => {

                    h[header] = $td.eq(i).text();
                });

                data.push(h);
            });

            console.log(data);

            value = JSON.stringify(data);
            encryptedValue = btoa(value);
            $("#urlID").attr('value', encryptedValue);
            $("#second").prop('disabled', true);
            $("#submit").click();
            setTimeout( function(){
                $("#int-mapping").click();
            }  , 1 )
        });
    </script>

    <script>
        //mapping values from database
        let mapping = "{{ c_set.mappingTable }}";
        if (mapping) {
            mapping = JSON.parse(atob("{{ c_set.mappingTable }}"));
        } else {
            mapping = [
                {
                    "campaign-in-one": "email",
                    "html form": "email",
                    "mail-in-one": "EMAIL",
                    "hubspot": "email",
                    "email forwarding": "email",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "salutation",
                    "html form": "salutation",
                    "mail-in-one": "SALUTATION",
                    "hubspot": "salutation",
                    "email forwarding": "salutation",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "first_name",
                    "html form": "first_name",
                    "mail-in-one": "FIRSTNAME",
                    "hubspot": "first_name",
                    "email forwarding": "first_name",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "last_name",
                    "html form": "last_name",
                    "mail-in-one": "LASTNAME",
                    "hubspot": "last_name",
                    "email forwarding": "last_name",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "firma",
                    "html form": "firma",
                    "mail-in-one": "Organisation",
                    "hubspot": "firma",
                    "email forwarding": "firma",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "street",
                    "html form": "address",
                    "mail-in-one": "ADDRESS",
                    "hubspot": "address",
                    "email forwarding": "street",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "postal_code",
                    "html form": "plz",
                    "mail-in-one": "ZIP",
                    "hubspot": "plz",
                    "email forwarding": "postal_code",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "city",
                    "html form": "city",
                    "mail-in-one": "CITY",
                    "hubspot": "city",
                    "email forwarding": "city",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "country",
                    "html form": "country",
                    "mail-in-one": "COUNTRY",
                    "hubspot": "country",
                    "email forwarding": "country",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "phone",
                    "html form": "phone",
                    "mail-in-one": "Telefon",
                    "hubspot": "phone",
                    "email forwarding": "phone",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "url",
                    "html form": "url",
                    "mail-in-one": "url",
                    "hubspot": "website",
                    "email forwarding": "url",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "campaign",
                    "html form": "campaign",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "campaign",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "utm_parameters",
                    "html form": "utm_parameters",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "utm_parameters",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "trafficsource",
                    "html form": "trafficsource",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "trafficsource",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "split_version",
                    "html form": "",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "lead_reference",
                    "html form": "",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "lead_reference",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "targetgroup",
                    "html form": "targetgroup",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "affiliateID",
                    "html form": "affiliateID",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "affiliateSubID",
                    "html form": "affiliateSubID",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "status",
                    "html form": "",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "ip",
                    "html form": "",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "device_type",
                    "html form": "device_type",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "device_browser",
                    "html form": "device_browser",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "device_os",
                    "html form": "device_os",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "",
                    "field type": "standard"
                },
                {
                    "campaign-in-one": "device_os_version",
                    "html form": "device_os_version",
                    "mail-in-one": "",
                    "hubspot": "",
                    "email forwarding": "",
                    "field type": "standard"
                }
            ];
        }
        $.each(mapping, function (index, value) {
            let CIO = value["campaign-in-one"];
            let HtmlForm = value["html form"];
            let MIO = value["mail-in-one"];
            let Hubspot = value["hubspot"];
            let EmailForwarding = value["email forwarding"];
            let fieldType = value["field type"];
            const newTrTest = `
        <tr class="">
                                        <td class="pt-3-half" contenteditable="true">` + CIO + `</td>
                                        <td class="pt-3-half" contenteditable="true">` + HtmlForm + `</td>
                                        <td class="pt-3-half" contenteditable="true">` + MIO + `</td>
                                        <td class="pt-3-half" contenteditable="true">` + Hubspot + `</td>
                                        <td class="pt-3-half" contenteditable="true">` + EmailForwarding + `</td>
                                        <td class="pt-3-half" contenteditable="true">` + fieldType + `</td>
                                        <td>
                                          <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                                        </td>
                                    </tr>

        `;
            //appending html to
            $('tbody').append(newTrTest);

        });
        //This are questions to fill in the table
        let questions = "{{ c_set.questions }}";
        let question = questions.replace(/&quot;/ig,'"');
        question = JSON.parse(question);
        let surveyQuestions = [];
        $.each( question , function( key,value ) {
            let questionJson = value['question_json_representation'];
            let text = questionJson['text'];
            let type = questionJson['type'];
            let options = questionJson[type];
            options = options['options'];
            let answers = [];
            $.each( options , function( k,val ) {
                let option = val['value'];
                if (typeof option == 'undefined'){
                    let min = val['min'];
                    let max = val['max'];
                    let step = val['step'];
                    option = 'Min:'+ min +',Max'+ max +',Step'+ step;
                }else if( option === ''){
                    option ="This is text box";
                }
                //make it as array
                answers.push(option);
            });
            let surveyQuestion = {[text]:[answers]};
            surveyQuestions.push(surveyQuestion);
        });
        $.each(surveyQuestions, function (i, value) {
            let number = i+1;
            questionTitle = (Object.keys(value)).toString();
            questionAnswers = (Object.values(value)).toString();
            const newTrTest = `
        <tr class="justShow">
                                        <td data-html="true" data-toggle="popover" title="` + questionTitle + `" data-content="` + questionAnswers + `" class="pt-3-half cio-popover hover` + number + `" contenteditable="true">survey_answer` + number + `</td>
                                        <td class="pt-3-half" contenteditable="true"></td>
                                        <td class="pt-3-half" contenteditable="true"></td>
                                        <td class="pt-3-half" contenteditable="true"></td>
                                        <td class="pt-3-half" contenteditable="true"></td>
                                        <td class="pt-3-half" contenteditable="true">Survey</td>
                                        <td>
                                          <span class="table-remove"><i style="color:red;cursor: pointer;" class="fas fa-minus-circle"></i></span>
                                        </td>
                                    </tr>

        `;
            //appending html to
            $('tbody').append(newTrTest);
        });

    </script>

    <script>
        $(function () {
            $('.cio-popover').popover({
                container: 'body',
                trigger: 'hover'
            });

            $('#menu-integrations').addClass("show");
            $('#int-mapping').addClass("kt-widget__item--active");
        })
    </script>


{% endblock %}
