{% extends "app.twig" %}

{% block content %}

{% set lead = leads[0] %}
<!-- begin:: Content Head -->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
	<div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
    	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                                                              
			<!-- START SUBHEADER -->
			<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    			<div class="kt-subheader__main">
					<h3 class="kt-subheader__title">Contact Details</h3>
					<span class="kt-subheader__separator kt-subheader__separator--v"></span>
        			<span class="kt-subheader__desc">{{ lead.email is empty? '-' : lead.email }}</span>
        			<!-- <a href="#" class="btn btn-label-primary btn-bold btn-icon-h kt-margin-l-10"> Add New </a> -->
        		</div>
    			<div class="kt-subheader__toolbar">
        			<div class="kt-subheader__wrapper">
            			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Actions</button>
            		</div>
       			</div>
			</div>
			<!-- ENDE SUBHEADER -->
			<!-- START CONTENT -->
			<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content"> 
    			<div class="row">
				
					<!-- START SPALTE LINKS -->
					<div class="col-xl-6">
						
						<div class="kt-portlet kt-portlet--mobile ">
	   						<div class="kt-portlet__body">
								<div class="kt-widget kt-widget--user-profile-1">
									<div class="kt-widget__head">
										<div class="kt-widget__media">
											<span style="background-color:#7abe73; color:#fff;" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-">S</span>
										</div>
										<div class="kt-widget__content">
											<div class="kt-widget__section">
												<a href="#" class="kt-widget__username">
													{{ lead.email is empty? '-' : lead.email }} 
													<i class="flaticon2-correct kt-font-success"></i>                       
												</a>
												<span class="kt-widget__subtitle">
													Lead   
												</span>
											</div>
											<div class="kt-widget__action">
												<button type="button" class="btn btn-info btn-sm">view all properties</button>&nbsp;
												<button type="button" class="btn btn-danger btn-sm">delete</button>                         
											</div>
										</div>
									</div>
                                <div class="kt-widget__body">
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Campaign:</span>
                                            <a href="#" class="kt-widget__data">treaction 90 tage</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Lead-Reference:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.lead_reference is empty? '-' : lead_reference }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Email:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.email is empty? '-' : lead.email }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Created:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.created is empty? '-' : lead.created }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Status:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.status is empty? '-' : lead.status }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Salutation:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.salutation is empty? '-' : lead.salutation }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">First Name:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.first_name is empty? '-' : lead.first_name }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Last Name:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.last_name is empty? '-' : lead.last_name }}</a>
                                        </div>
                                        
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label"><b>Lead details</b></span>
                                        </div>
                                        
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Phone:</span>
                                            <span class="kt-widget__data">{{ lead.phone is empty? '-' : lead.phone }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Postal Code:</span>
                                            <span class="kt-widget__data">{{ lead.postal_code is empty? '-' : lead.postal_code }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">City:</span>
                                            <span class="kt-widget__data">{{ lead.city is empty? '-' : lead.city }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Country:</span>
                                            <span class="kt-widget__data">{{ lead.country is empty? '-' : lead.country }}</span>
                                        </div>
                                        
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label"><b>Tracking Information</b></span>
                                        </div>
                                        
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">URL:</span>
                                            <span class="kt-widget__data">{{ lead.url is empty? '-' : lead.url }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">IP:</span>
                                            <span class="kt-widget__data">{{ lead.ip is empty? '-' : lead.ip }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Traffic source:</span>
                                            <span class="kt-widget__data">{{ lead.trafficsource is empty? '-' : lead.trafficsource }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Device:</span>
                                            <span class="kt-widget__data">{{ lead.device_type is empty? '-' : lead.device_type }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Device Browser:</span>
                                            <span class="kt-widget__data">{{ lead.device_browser is empty? '-' : lead.device_browser }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Device OS:</span>
                                            <span class="kt-widget__data">{{ lead.device_os is empty? '-' : lead.device_os }}</span>
                                        </div>
                                        
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label"><b>Custom fields</b></span>
                                        </div>
                                        </div>
									</div>
								</div>
							</div>
						</div>
						
    				</div>
    				<!-- ENDE SPALTE LINKS -->
					
					<!-- START SPALTE RECHTS -->
					<div class="col-xl-6">
					
        				<div class="accordion accordion-solid accordion-toggle-svg" id="accordionExample8">
							<div class="card" style="box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);">
								<div class="card-header" id="headingOne8" >
									<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne8" aria-expanded="true" aria-controls="collapseOne8" style="background-color: #ffffff;">
										Related Campaign 
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon" style="margin: auto 0 auto auto; transform: rotate(90deg); transition: all .3s;">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
												<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" id="Path-94" fill="#000000" fill-rule="nonzero"></path>
												<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
											</g>
										</svg>					
									</div>
								</div>
								<div id="collapseOne8" class="collapse" aria-labelledby="headingOne8" data-parent="#accordionExample8" style="">
									<div class="card-body">
										<div class="kt-widget kt-widget--user-profile-1">
											<div class="kt-widget__body">
												<div class="kt-widget__content" style="padding:0px;">
													<div class="kt-widget__info">
														<span class="kt-widget__label">Campaign name:</span>
														<span class="kt-widget__data">{{ lead.camp_name is empty? '-' : lead.name }}</span>
													</div>
													<div class="kt-widget__info">
														<span class="kt-widget__label">Campaign URL:</span>
														<a href="https://treaction.campaign-in-one.de/90daystrial/" class="kt-widget__data">https://treaction.campaign-in-one.de/90daystrial/</a>
													</div>
													<div class="kt-widget__info">
														<span class="kt-widget__label">Campaign version:</span>
														<span class="kt-widget__data">{{ lead.version is empty? '-' : lead.version }}</span>
													</div>
													<div class="kt-widget__info">
														<span class="kt-widget__label">Campaign status:</span>
														<span class="kt-widget__data">{{ lead.camp_status is empty? '-' : lead.camp_status }}</span>
													</div>
													<div class="kt-widget__info">
														<span class="kt-widget__label">Campaign created:</span>
														<span class="kt-widget__data">{{ lead.camp_create is empty? '-' : lead.camp_create }}</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card" style="box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05); background-color: #ffffff;">
								<div class="card-header" id="headingTwo8" >
									<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo8" aria-expanded="false" aria-controls="collapseTwo8" style="background-color: #ffffff;">
										Latest Activities 
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon" style="margin: auto 0 auto auto; transform: rotate(90deg); transition: all .3s;">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
												<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" id="Path-94" fill="#000000" fill-rule="nonzero"></path>
												<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
											</g>
										</svg>					
									</div>
								</div>
								<div id="collapseTwo8" class="collapse" aria-labelledby="headingTwo8" data-parent="#accordionExample8" style="">
									<div class="card-body">
										<div class="kt-list-timeline">
											<div class="kt-list-timeline__items">
												<div class="kt-list-timeline__item">
													<span class="kt-list-timeline__badge kt-list-timeline__badge--primary"></span>
													<span class="kt-list-timeline__text">Contact created</span>
													<span class="kt-list-timeline__time">15.02.2019 - 15:42</span>
												</div>
												<div class="kt-list-timeline__item">
													<span class="kt-list-timeline__badge kt-list-timeline__badge--primary"></span>
													<span class="kt-list-timeline__text">Contact added to Marketing Automation<span style="margin-left:10px;" class="kt-badge kt-badge--primary kt-badge--inline">MA</span></span>
													<span class="kt-list-timeline__time">15.02.2019 - 15:43</span>
												</div>
												<div class="kt-list-timeline__item">
													<span class="kt-list-timeline__badge kt-list-timeline__badge--primary"></span>
													<span class="kt-list-timeline__text">Sent Mailing - Mailname</span>
													<span class="kt-list-timeline__time">15.02.2019 - 15:44</span>
												</div>
												<div class="kt-list-timeline__item">
													<span class="kt-list-timeline__badge kt-list-timeline__badge--primary"></span>
													<span class="kt-list-timeline__text">Contact Clicked Button</span>
													<span class="kt-list-timeline__time">15.02.2019 - 17:03</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card" style="box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05); background-color: #ffffff;">
								<div class="card-header" id="headingThree8">
									<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree8" aria-expanded="false" aria-controls="collapseThree8" style="background-color: #ffffff;">
										Tracking Information 
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon" style="margin: auto 0 auto auto; transform: rotate(90deg); transition: all .3s;">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
												<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" id="Path-94" fill="#000000" fill-rule="nonzero"></path>
												<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
											</g>
										</svg>					
									</div>
								</div>
								<div id="collapseThree8" class="collapse" aria-labelledby="headingThree8" data-parent="#accordionExample8" style="">
									<div class="card-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>
						</div>
						
    				</div>
					<!-- ENDE SPALTE RECHTS -->
					
				</div>
			</div>
		</div>
  	</div>
</div>
















{# 
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content"> 	
	<!-- begin:: Content -->
	    <div class="kt-content kt-grid__item kt-grid__item--fluid">
		    <!--Begin::App-->
            <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
                <!--Begin:: App Aside Mobile Toggle-->
                <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                    <i class="la la-close"></i>
                </button>
                <!--End:: App Aside Mobile Toggle-->
                <!--Begin:: App Aside-->
                <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                    <!--begin:: Widgets/Applications/User/Profile1-->
                    <div class="kt-portlet kt-portlet--height-fluid-">
                        <div class="kt-portlet__head  kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
                                    <i class="flaticon-more-1"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">
                                <!--begin::Nav-->
                                    <ul class="kt-nav">
                                        <li class="kt-nav__head">
                                            Export Options                                    
                                            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                        </li>
                                        <li class="kt-nav__separator"></li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-drop"></i>
                                                <span class="kt-nav__link-text">Activity</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                                <span class="kt-nav__link-text">FAQ</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-link"></i>
                                                <span class="kt-nav__link-text">Settings</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                                <span class="kt-nav__link-text">Support</span>
                                                <span class="kt-nav__link-badge">
                                                    <span class="kt-badge kt-badge--success">5</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__separator"></li>
                                        <li class="kt-nav__foot">
                                            <a class="btn btn-label-danger btn-bold btn-sm" href="#">Upgrade plan</a>                                    
                                            <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                                        </li>
                                    </ul>
                                    <!--end::Nav-->
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit-y">
                            <!--begin::Widget -->
                            <div class="kt-widget kt-widget--user-profile-1">
                                <div class="kt-widget__head">
                                    <div class="kt-widget__media">
                                        <span style="background-color:#7abe73; color:#fff;" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden-">{{lead.first_name | first}}</span>
                                    </div>
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__section">
                                            <a href="#" class="kt-widget__username">
                                                {{lead.email}} 
                                                <i class="flaticon2-correct kt-font-success"></i>                       
                                            </a>
                                            <span class="kt-widget__subtitle">
                                            Lead   
                                            </span>
                                        </div>

                                        <div class="kt-widget__action">
                                            <button type="button" class="btn btn-info btn-sm">view all properties</button>&nbsp;
                                            <button type="button" class="btn btn-danger btn-sm">delete</button>                         
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-widget__body">
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Campaign:</span>
                                            <a href="#" class="kt-widget__data">treaction 90 tage</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Lead-Reference:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.lead_reference is empty? '-' : lead_reference }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Email:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.email is empty? '-' : lead.email }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Created:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.created is empty? '-' : lead.created }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Status:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.status is empty? '-' : lead.status }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Salutation:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.salutation is empty? '-' : lead.salutation }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">First Name:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.first_name is empty? '-' : lead.first_name }}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Last Name:</span>
                                            <a href="#" class="kt-widget__data">{{ lead.last_name is empty? '-' : lead.last_name }}</a>
                                        </div>
                                        
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label"><b>Lead details</b></span>
                                        </div>
                                        
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Phone:</span>
                                            <span class="kt-widget__data">{{ lead.phone is empty? '-' : lead.phone }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Postal Code:</span>
                                            <span class="kt-widget__data">{{ lead.postal_code is empty? '-' : lead.postal_code }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">City:</span>
                                            <span class="kt-widget__data">{{ lead.city is empty? '-' : lead.city }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Country:</span>
                                            <span class="kt-widget__data">{{ lead.country is empty? '-' : lead.country }}</span>
                                        </div>
                                        
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label"><b>Tracking Information</b></span>
                                        </div>
                                        
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">URL:</span>
                                            <span class="kt-widget__data">{{ lead.url is empty? '-' : lead.url }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">IP:</span>
                                            <span class="kt-widget__data">{{ lead.ip is empty? '-' : lead.ip }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Traffic source:</span>
                                            <span class="kt-widget__data">{{ lead.trafficsource is empty? '-' : lead.trafficsource }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Device:</span>
                                            <span class="kt-widget__data">{{ lead.device_type is empty? '-' : lead.device_type }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Device Browser:</span>
                                            <span class="kt-widget__data">{{ lead.device_browser is empty? '-' : lead.device_browser }}</span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label">Device OS:</span>
                                            <span class="kt-widget__data">{{ lead.device_os is empty? '-' : lead.device_os }}</span>
                                        </div>
                                        
                                        <div class="kt-widget__info">
                                            <span class="kt-widget__label"><b>Custom fields</b></span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!--end::Widget -->
                        </div>
                    </div>
                    <!--end:: Widgets/Applications/User/Profile1-->
                </div>
                <!--End:: App Aside-->
            </div>
        </div>       
     </div>      
     <!-- end:: Content Head -->	
    #}
                               
{% endblock %}     

{% block javascripts %}      
   
    {% if leads.notification|length > 0 %}
        <script>
            var msg = '{{leads.notification}}';
            $(document).ready(function(){
                $.notify({
                    message: msg
                }, {
                    type: 'inverse', // 'inverse', 'info', 'success', or 'danger'
                    placement: {
                        from: 'top', // 'top' or 'bottom'
                        align: 'right' // 'left', 'center' or 'right',
                    },
                    allow_dismiss: true,
                    template: '<div data-notify="container" class="alert alert-dismissible alert-{0} alert--notify" role="alert">' +
                            '<span data-notify="icon"></span> ' +
                            '<span data-notify="title">{1}</span> ' +
                            '<span data-notify="message">{2}</span>' +
                            '<div class="progress" data-notify="progressbar">' +
                            '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                            '</div>' +
                            '<a href="{3}" target="{4}" data-notify="url"></a>' +
                            '<button type="button" aria-hidden="true" data-notify="dismiss" class="close"><span>×</span></button>' +
                            '</div>'
                });  
            });
        </script>
    {% endif %}    
{% endblock %}

