{% extends "app.twig" %}

{% block content %}



    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">Leads</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">treaction ag</span>

        </div>

        {% set campaigns = leads.campaigns %}
        {% set lead_status = leads.lead_status %}

        <!--begin:sub-control menu -->
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                    {# Search #}
                    <li class="nav-item">
                        <input class="form-control" placeholder="Search" type="text" id="lead-search">
                    </li>

                    {# Dropdown by campaigns #}
                    <li class="nav-item">
                        <!--begin:button filter by campaigns-->
                        <select class="btn btn-secondary dropdown-toggle" type="button" id="filter_by_campaign"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <option value="" selected>Filter by campaign</option>
                            {% for campaign in campaigns %}
                                {% if campaign.name is not empty %}
                                    <option value="{{ campaign.url }}">{{ campaign.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <!--end:button filter by campaigns -->
                    </li>

                    {# Dropdown by Status #}
                    <li class="nav-item">
                        <!--begin:button filter by status-->
                        <select class="btn btn-secondary dropdown-toggle" type="button" id="filter_by_status"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <option value="" type="button" selected>Filter by status</option>
                            <option value="active">active</option>
                            <option value="inactive">inactive</option>
                        </select>
                    </li>

                    {# Filter by Date range #}
                    <li class="nav-item">
                        <!--begin:button filter by date -->
                        <input type="text" name="daterange" id="LeadsfilterByDate" class="form-control"
                               placeholder="Filter By Date"/>
                        <!--end:button filter by date-->
                    </li>

                    {# Export Table or selected rows #}
                    <li class="nav-item">
                        <div class="btn btn-brand btn-elevate btn-icon-sm" id="export-table"></div>
                    </li>
                </ul>
            </div>
        </div>
        <!--end::sub-control menu-->
    </div>
    <!-- end:: Content Head -->

    <!--begin:sub-control menu -->
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold float-right" role="tablist">
{#                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-cus-fields" data-enpassusermodified="yes">Custom Fields&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>#}
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-ts" data-enpassusermodified="yes"> Traffic Source&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox"  name="cb-tg" data-enpassusermodified="yes"> Target Group&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox"  name="cb-utm-parms" data-enpassusermodified="yes"> UTM Parameters&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
                <li class="nav-item">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--success">
                        <input type="checkbox" name="cb-aff" data-enpassusermodified="yes"> Affiliate Id's&nbsp;&nbsp;
                        <span style="border:1px solid #7abe73"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        {% if leads.error_leads %}
            <!-- begin:: warnings  -->
            <div class="alert alert-danger fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ leads.error_leads }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        <!-- end:: warnings -->

        <!--begin:alert -->
        {% if leads.notify_leads %}
            <div class="alert alert-light alert-elevate fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ leads.notify_leads }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
        {% endif %}
        <!--end:alert -->
        <!-- end:: warnings -->


        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <!--begin: Datatable -->
                <table class="table  table-striped table-bordered table-hover table-checkable" id="kt_table_1">
                    {% set id = 1 %}
                    <thead>
                    <tr>
                        <th class="text-center"><b>Record ID</b></th>
                        <th><b>Campaign</b></th>
                        <th><b>Lead reference</b></th>
                        <th><b>Created</b></th>
                        <th><b>Salutation</b></th>
                        <th><b>Firstname</b></th>
                        <th><b>Lastname</b></th>
                        <th><b>Email</b></th>
                        <th><b>Postalcode</b></th>

                        <th><b>Trafficsource</b></th>
                        <th><b>UTM Parameters</b></th>
                        <th><b>Targetgroup</b></th>
                        <th><b>AffiliateID</b></th>
                        <th><b>AffiliateSubID</b></th>
                        <!--Changes for exporting Custom fields-->
{#
                        <th><b>lead_cus_name</b></th>
                        <th><b>lead_cus_type</b></th>
                        <th><b>lead_cus_value</b></th>
#}

                        <th class="text-center"><b>Status</b></th>
                        <th class="text-center"><b>Actions</b></th>
                    </tr>
                    </thead>
                </table>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
    <!-- end:: Content -->



{% endblock %}     

{% block javascripts %}

    <script type="text/javascript">
        $("select#filter_by_campaign").change(function(){
            var camp_url = $(this).children("option:selected").val();
            $(location).attr('href', camp_url);
        });
    </script>

    {% if leads.notification|length > 0 %}
        <script>
            var msg = '{{ leads.notification }}';
            $(document).ready(function () {
                $.notify({
                    message: msg
                }, {
                    type: 'inverse', // 'inverse', 'info', 'success', or 'danger'
                    placement: {
                        from: 'top', // 'top' or 'bottom'
                        align: 'right' // 'left', 'center' or 'right',
                    },
                    allow_dismiss: true,
                    template: '<div data-notify="container" class="alert alert-dismissible alert-{0} alert--notify" role="alert">' +
                        '<span data-notify="icon"></span> ' +
                        '<span data-notify="title">{1}</span> ' +
                        '<span data-notify="message">{2}</span>' +
                        '<div class="progress" data-notify="progressbar">' +
                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                        '</div>' +
                        '<a href="{3}" target="{4}" data-notify="url"></a>' +
                        '<button type="button" aria-hidden="true" data-notify="dismiss" class="close"><span>×</span></button>' +
                        '</div>'
                });
            });


        </script>
    {% endif %}
{% endblock %}

