


#full-width-container{
    max-width: 100% !important;
}

#lead-table_wrapper{
    margin-top:0 !important;
}

.flatpickr-month{
    height:60px !important;
}

.no-padding{
    padding:0 !important;
}

table.table-condensed{
    color:black;
}

#lead-table_filter{
    display:none;
}

.daterangepicker.ltr .ranges{
    color:black;
}
/* Filter Calender */
.button-datetimes {    
    padding:0px !important;
    margin:0px !important;
}

#datetimes{
    background:transparent;
    padding:10px;
    cursor:pointer;
    color:white;
    border:none;
    text-align: center;
}


/* Lead Table */
#lead-table-footer{
    position: absolute;
    top: 12px;
    border-top: none;
}

#lead-table_length{
    position: absolute;
    top: 10px;
    right: 160px;
}

#srollable-card{
    overflow:auto;
    margin:2.2rem;
}

.active-dropdown{
    color: #ffffff !important;
    background-color: rgba(255, 255, 255, 0.08) !important;
}

#export-table div.dt-buttons button[type="button"]{
    background: transparent !important;
    border: 0px !important;
    color: #fff !important;
}