
{% extends "app.twig" %}

{% block content %}


<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
       <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>
        
        <h3 class="kt-subheader__title">Account settings</h3>
        
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        
        <span class="kt-subheader__desc">{{details.name}} </span>
        
    </div>
  
</div>
<!-- end:: Content Head -->		

                <!-- begin:: warnings  -->
                            <div class="alert alert-danger fade {{details.error|length ? "show" : "kt-hide"}}" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                <div class="alert-text">{{details.error}}</div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                 <!-- end:: warnings -->  
                            
    
                    
                <!--begin:alert -->
                            <div class="alert alert-light alert-elevate fade {{details.success|length? "show" : "kt-hide"}}" role="alert">
                                <div class="alert-icon"><i class="far fa-check-square"></i></div>
                                <div class="alert-text">{{details.success}}</div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                <!--end:alert -->


<!-- begin:: Content -->
	<div class="kt-content kt-grid__item kt-grid__item--fluid">
		
<!--Begin::App-->
<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
    <!--Begin:: App Aside Mobile Toggle-->
    <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
        <i class="la la-close"></i>
    </button>
    <!--End:: App Aside Mobile Toggle-->

    
    
    
    
    <!--Begin:: App Aside-->
    <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
        <!--begin:: Widgets/Applications/User/Profile1-->
        <div class="kt-portlet ">
    
    <p>&nbsp;</p>        
            
    
    <div class="kt-portlet__body kt-portlet__body--fit-y">
        <!--begin::Widget -->
        <div class="kt-widget kt-widget--user-profile-1">
            
            <div class="kt-widget__body">
               
                <div class="kt-widget__items">
                   
                    
                    <a  href="{{ path_for('user.update')}}" class="kt-widget__item ">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                                <i class="fas fa-user-astronaut fa-lg"></i>
                            </span>
                            <span class="kt-widget__desc">
                                &nbsp;Personal information                                                      
                            </span>
                        </span>    
                    </a>
                    <a href="{{ path_for('acc.update')}}" class="kt-widget__item kt-widget__item--active">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                                 <i class="fas fa-cog fa-lg"></i>    
                            </span>
                            <span class="kt-widget__desc">
                                &nbsp;Account information                                                       
                            </span>
                      </span>  
                            
                    </a>
                    <a href="{{ path_for('auth.resetpassword') }}" class="kt-widget__item ">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fas fa-lock fa-lg"></i>   
                            </span>
                            <span  class="kt-widget__desc">
                                &nbsp;Change password                                                       
                            </span>
                        </span>                                     
                    </a>
                    
                    <a class="kt-widget__item "id="toogle">
                    <span class="kt-widget__section" >
						<span class="kt-widget__icon">
							<i style="color: #7abe73;" class="fas fa-sitemap"></i>
						</span>
						<span class="kt-widget__desc">
							&nbsp;Integrations                                                      
						</span>
					</span>
                    </a>
                    <ul>
                    <a href="{{ path_for('acc.settingsGeneral') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                                <i class="fas fa-clipboard-list fa-lg"></i>    
                            </span>
                            <span  class="kt-widget__desc">
                                &nbsp;General                                              
                            </span>
                        </span>                    
                    </a>

                    <a href="{{ path_for('acc.settingsEmail') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fas fa-envelope fa-lg"></i>   
                            </span>
                            <span  class="kt-widget__desc">
                                &nbsp;Email                                              
                            </span>
                        </span>                         
                    </a>
                    <a href="{{ path_for('acc.settingsWebinaris') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fas fa-calendar-day fa-lg"></i>   
                            </span>
                            <span  class="kt-widget__desc">
                                &nbsp;Webinaris                                                 
                            </span>
                        </span> 
                                                        
                    </a>

                    <a href="{{ path_for('acc.settingsDigistore') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fas fa-store fa-lg"></i>   
                            </span>
                            <span  class="kt-widget__desc">
                                &nbsp;Digistore                                                      
                            </span>
                        </span>                              
                    </a>

                    <a href="{{ path_for('acc.settingsFraud') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fas fa-biohazard fa-lg"></i>   
                            </span>
                            <span  class="kt-widget__desc">
                                &nbsp;Fraud                                                      
                            </span>
                        </span>                              
                    </a>

                    <a href="{{ path_for('acc.settingsURLApi') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fas fa-upload fa-lg"></i>   
                            </span>
                            <span  class="kt-widget__desc">
                                &nbsp;URL API                                                     
                            </span>
                        </span>                              
                    </a>

                    <a href="{{ path_for('acc.settingsMIO') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fas fa-mail-bulk fa-lg"></i>   
                            </span>
                            <span  class="kt-widget__desc">
                                &nbsp;Mail-In-One                                                     
                            </span>
                        </span>                              
                    </a>

                    <a href="{{ path_for('acc.settingsHubspot') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fab fa-hubspot fa-lg"></i>   
                            </span>
                            <span  class="kt-widget__desc">
                                &nbsp;Hubspot                                                      
                            </span>
                        </span>                              
                    </a>

                        <a href="{{ path_for('acc.settingsHttpInbound') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span  class="kt-widget__desc">
                                &nbsp;Inbound
                            </span>
                        </span>
                        </a>

                    </ul>

                </div>
            </div>
        </div>
        <!--end::Widget -->
    </div>
</div>
<!--end:: Widgets/Applications/User/Profile1-->

     </div>
    <!--End:: App Aside-->

    <!--Begin:: App Content-->
    <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">Account information <small>update your account informaiton</small></h3>
                        </div>
                      
                    </div>

                    <form class="kt-form kt-form--label-right" method="post">
                        <div class="kt-portlet__body">
                            <div class="kt-section kt-section--first">
                                <div class="kt-section__body">
                                    
                                    
                                    <div class="row">
                                        <label class="col-xl-3"></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <h3 class="kt-section__title kt-section__title-sm">Account information:</h3>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Company name</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control" value="{{details.name}}"name="company_name" type="text">
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <label class="col-xl-3"></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <h3 class="kt-section__title kt-section__title-sm">Contact Information:</h3>
                                        </div>
                                    </div>

        
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Contact Phone</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                                <input type="text" class="form-control" value="{{details.phone}}" name="phone" type="text" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Website</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control" value="{{details.website}}" name="website" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group row">           
                                        <label class="col-xl-3 col-lg-3 col-form-label">URL Options</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <select class="form-control" name="url_option">
                                                <option class="select-option" value="folder" {{details.url_option == "folder" ? "selected" : ""}} >Folder</option>
                                                <option class="select-option" value="sub-domain" {{details.url_option == "sub-domain" ? "selected" : ""}}>SubDomain</option>
                                                 <option class="select-option" value="delegate-domain" {{details.url_option == "delegate-domain" ? "selected" : ""}}>Delegate Domain</option>
                                            </select>
                                        </div>
                                    </div>                                    
                            
                                    <div class="form-group row" id="input_domain" >
                                        <label class="col-xl-3 col-lg-3 col-form-label">Delegated Domain</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control" value="{{details.delegated_domain}}" id="input_domain_value" name="delegated_domain" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Address</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control" value="{{details.street}}"  name="address" type="text">
                                        </div>
                                    </div>
                                   
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">City</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control" value="{{details.city}}" name="city" type="text">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Postal code</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control" value="{{details.postal_code}}" name="plz" type="text">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Country</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control" value="{{details.country}}" name="country" type="text">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label">VAT</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control" value="{{details.vat}}" name="vat" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-3 col-xl-3">
                                    </div>
                                    <div class="col-lg-9 col-xl-9">
                                        <button  name="submit" type="submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>  
        </div>           
    </div>
    <!--End:: App Content-->
</div>
<!--End::App-->
</div>
<!-- end:: Content -->
{% endblock %}  

{% block javascripts %}   
    <script type="text/javascript">
        // Account Deligated Domain
        var ddomain = $('#input_domain_value').val();

        if(!ddomain.trim() && ($('form select option:selected').val() != 'delegate-domain')){
            $('#input_domain').hide();
        }
        
        $('form select[name=url_option]').change(function(){
        if ($('form select option:selected').val() == 'delegate-domain'){
            $('#input_domain').show();
        }else{
            $('#input_domain').hide();
        }
        });

$( ".hide" ).hide();
$( "#toogle" ).click(function() {
$( ".hide" ).toggle('fast');
});

</script>

{% endblock %}
