{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Settings Data-Flow</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{ details.acc_name }} </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
        
            <!--begin:Back to campaigns -->
            <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft"><i class="la la-angle-left"></i>Back to Campaigns</a>
            <!--end:Back to campaigns -->
           
           </div>
       </div>            
    </div>

    
    
    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
            {{ include('/campaign_settings/leftmenu.twig') }}  

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Settings&nbsp;&nbsp;&nbsp;|<small>Dataflow</small></h3>
                                </div>
                            </div>

                            <form class="kt-form kt-form--label-right" method="post" autocomplete="off">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">                                       

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Inbound data&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Activate this setting if inbound data is required.<hr>active = inbound data is received <br>inactive = inbound data is not received"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = ""%}
                                                            {% if c_set.inboundData ==  "on" %}
                                                                {% set sync_status = "checked"%}
                                                            {% endif %}
                                                            <input type="hidden" name="inboundData" value="off">
                                                            <input type="checkbox" {{sync_status}} name="inboundData">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div> 
                                            </div>  

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Encrypt inbound data&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="If the setting 'inbound data' is active, you can activate encryption for the data. "><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = ""%}
                                                            {% if c_set.inboundEncription ==  "on" %}
                                                                {% set sync_status = "checked"%}
                                                            {% endif %}
                                                            <input type="hidden" name="inboundEncription" value="off">
                                                            <input type="checkbox" {{sync_status}} name="inboundEncription">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div> 
                                            </div> 

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Inbound data encryption - format&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="If the setting 'Encrypt inbound data' is active, please specify here an encryption format. Supported formats are: base64, md5."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control" value="{{c_set.inboundFormat}}" name="inboundFormat" placeholder="Inbound format type" autocomplete="false">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Outbound data&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Activate this setting if outbound data is required.<hr>active = outbound data is sent <br>inactive = outbound data is not sent"><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = ""%}
                                                            {% if c_set.outbondData ==  "on" %}
                                                                {% set sync_status = "checked"%}
                                                            {% endif %}
                                                            <input type="hidden" name="outbondData" value="off">
                                                            <input type="checkbox" {{sync_status}} name="outbondData">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div> 
                                            </div>  

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Encrypt outbound data&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="If the setting 'outbound data' is active, you can activate encryption for the data. "><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            {% set sync_status = ""%}
                                                            {% if c_set.outbondEncription ==  "on" %}
                                                                {% set sync_status = "checked"%}
                                                            {% endif %}
                                                            <input type="hidden" name="outbondEncription" value="off">
                                                            <input type="checkbox" {{sync_status}} name="outbondEncription">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div> 
                                            </div> 

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Inbound data encryption - format&nbsp;&nbsp;&nbsp;<a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="If the setting 'Encrypt outbound data' is active, please specify here an encryption format. Supported formats are: base64, md5."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control" value="{{c_set.outbondFormat}}" name="outbondFormat" placeholder="Outbound Format type" autocomplete="false">
                                                    <input type="text" class="form-control" value = "{{c_set.id}}" name="id"  autocomplete="false" hidden>
                                                </div>
                                            </div>

           
                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="submit" class="btn btn-brand btn-bold">Save</button>&nbsp;
                                                <button type="reset" class="btn btn-secondary">Reset settings</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>    
                    </div>
                </div>     
            </div> 
        </div>   
    </div>
                                                                   

{% endblock %}          

{% block javascripts %}  

<script>
    $(function () {
        $('.cio-popover').popover({
            container: 'body',
            trigger : 'hover'
        })

        $('#menu-settings').addClass("show");
        $('#set-dataflow').addClass("kt-widget__item--active");
    })
</script>

{% endblock %}