
body {
  font-family: 'Titillium Web', sans-serif;
  background: radial-gradient(ellipse at bottom, #64a676 0%, #090a0f 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #64a676;
}

#title {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 3px;
  margin-top: ;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("") no-repeat center center;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 5.2rem;
    padding-bottom: 5.2rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
    
 .optin {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
     text-align: center;
  }
}

.optin {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fff;
}

footer.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: transparent;
}

.hidden{
    
    display: none;
}

.countdown{
    
    padding: 25px 25px 25px 25px;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
