{% extends "app.twig" %}

{% block content %}


    <style>

        .cio-form-labels
        {

            color:#bdbebe;
            font-size:11px; 
            text-transform: uppercase; 
            font-weight: 800; 
            letter-spacing: 2px;  

        }

        {# Footer or Header Color #}
        .cio-button-color{
            background-color:#191919;
            color:#fff;
        }

        {# treaction color #}
        .cio-treaction-color{
            background-color: #7abe73 !important;
        }

    </style>    

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Survey Update</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{ details.acc_name }} </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
        
            <!--begin:Back to campaigns -->
            <a class="btn btn-brand btn-elevate btn-icon-sm" href="https://campaign-in-one.net/account/{{survey.acc_id}}/campaigns/{{survey.camp_id}}/survey"><i class="la la-angle-left"></i>Back to Survey</a>
            <!--end:Back to campaigns -->
           
           </div>
       </div>         
    </div>  

     {# Collect details for URL's#}  
        {% set c_set = survey %}               
        {% set camp_id = survey.camp_id %}
        {% set acc_id = survey.acc_id  %}
        {% set survey_id = survey.sury_id  %}
        {% set s = survey.question %}
        {% set setting_url = "https://campaign-in-one.net/account/#{acc_id}/campaigns/#{camp_id}/setting  " %}
        {% set survey_url = "https://campaign-in-one.net/account/#{acc_id}/campaigns/#{camp_id}/survey  " %}
        {% set mio_url = "https://campaign-in-one.net/account/#{acc_id}/campaigns/#{camp_id}/mailinone" %}
        {% set hbspot_url = "https://campaign-in-one.net/account/#{acc_id}/campaigns/#{camp_id}/hubspot  " %}


    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
            {{ include('/campaign_settings/leftmenu.twig') }}     

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">

                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Survey <small>Update Survey Question</small></h3>
                                </div>
                            </div>

                            <form class="kt-form kt-form--label-right" method="post" enctype="multipart/form-data" id="form-survey">
                                <div id="survey">
                                <!--  Question Number 1  -->
                                <div class="kt-portlet__body survey_card">     
                                    <input type="number" value="{{s.question_id}}" name="survey[question][1][db_id]" class="ques-dbid " hidden>
                                    <input type="number" value="{{s.question_json_representation.predecessor_id}}" class="ques_pred_id" name="survey[question][1][predecessor_id]" hidden>
                                    <div class=""> 
                                        <div class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-9 ">
                                                        <div class="form-row">
                                                            <div class="col-md-1">
                                                                <input type="number" class="form-control" value="{{s.question_json_representation.id}}" name="survey[question][1][id]" class="ques-id" {{s_ques_db == true? "disabled": ""}} placeholder="Question order id">
                                                            </div>
                                                            <div class="col-md-11">
                                                                <input type="text" class="form-control input-sm"   value="{{s.question_question_txt is empty ? "" : s.question_question_txt }}" name="survey[question][1][text]" placeholder="Question" {{s_ques_db == true ? "disabled": ""}} required>
                                                                <i class="form-group__bar"></i>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="col-md-3 ">
                                                    <select class="select form-control select_question_type"  name="survey[question][1][type]" id="select_question_type" style="width:100%;" >
                                                        <option value="checkbox" {{s.question_type_id == "4"? "selected" : "disabled"}} >Multiple Choice</option>
                                                        <option value="select" {{s.question_type_id == "1"? "selected" : "disabled"}}>Dropdown</option>
                                                        <option value="range" {{s.question_type_id == "2" ? "selected" : "disabled"}}>Slider</option>
                                                        <option value="textarea" {{s.question_type_id == "3" ? "selected" : "disabled"}}>Single Textbox</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" value ="{{s.question_hint_txt is empty ? "" : s.question_hint_txt}}" name="survey[question][1][hint]" placeholder="Hint" >
                                            <i class="form-group__bar"></i>
                                        </div>    

                                        <!--Answer for Input field-->
                                        <div class="form-group  {{ s.question_type_id == "3"? 'show-answerfield' : 'answerfield' }}" id="answer_text"  id="answer_input_field">
                                            <input type="text" class="form-control" name="survey[question][1][textarea][options][1][value]" value="{{s.question_json_representation.textarea.options.1.value}}"   placeholder="Answer" {{ s.question_type_id == "3"? "" : "disabled"}}>
                                            <i class="form-group__bar"></i>

                                        </div>             

                                        <!--Answer for Single choice-->
                                        <div class="form-group {{ s.question_type_id == "1"? 'show-answerfield' : 'answerfield' }}" id="answer_select">  
                                            {% set sel_id = 1 %}
                                            {% for sel_opt in s.question_json_representation.select.options %}         
                                                <div class="form-group">
                                                    <div class="form-row">
                                                        <div class="col-md-6">                                                
                                                            <input type="text" class="form-control select_option" id="select_option_1" value ="{{sel_opt.value}}" name="survey[question][1][select][options][{{sel_id}}][value]" placeholder="Options for Dropdown" {{ s.question_type_id == "1"? "" : "disabled"}} >
                                                            <i class="form-group__bar"></i>
                                                            <br>
                                                            <input type="hidden" name="MAX_FILE_SIZE" value="1000000" {{ s.question_type_id == "1"? "" : "disabled"}}/>
                                                            <input type="file" name="survey[question][1][select][options][{{sel_id}}][link_ref]" accept="image/*"  value="{{sel_opt.link_ref}}" {{ s.question_type_id == "1"? "" : "disabled"}}/>
                                                        </div>

                                                        <!--Branching Question -->
                                                        <div class="col-sm-2"><input type="number" class="form-control survey_1_options_goto" value ="{{sel_opt.goto}}" id="survey_1_options_goto" name="survey[question][1][select][options][{{sel_id}}][goto]" placeholder="Branching Question Number" {{ s.question_type_id == "1"? "" : "disabled"}}></div>
                                                        <div class="col-sm-2"><input type="number" class="form-control survey_1_options_score" value ="{{sel_opt.score}}" id="survey_1_options_score" name="survey[question][1][select][options][{{sel_id}}][score]" placeholder="Score" {{ s.question_type_id == "1"? "" : "disabled"}}></div>

                                                        <!--Radio button for Right button-->
                                                        <div class="col-sm-2 d-flex justify-content-around"> 
                                                            <label class="kt-radio kt-radio--solid kt-radio--success">
                                                                <input type="radio" name="survey[question][{{i}}][select][options][{{sel_id}}][status]" value="WAHR" {{sel_opt.status == "WAHR" ? "checked" : ""}} {{ s.question_type_id == "1"? "" : "disabled"}}>Right
                                                                <span class="cio-treaction-color"></span>
                                                            </label>    

                                                            <label class="kt-radio kt-radio--solid kt-radio--success">
                                                                <input type="radio" name="survey[question][{{i}}][select][options][{{sel_id}}][status]" value="FALSCH" {{sel_opt.status == "FALSCH" ? "checked" : ""}}  {{ s.question_type_id == "1"? "" : "disabled"}}>Wrong
                                                                <span class="cio-treaction-color"></span>
                                                            </label>    
                                                        </div>   

                                                        {% if sel_id == 1%}
                                                            <div class="col-sm-2">
                                                                <button class="btn btn-secondary float-right add_option" id="addoption_1"  name="survey[question][1][select][add_option]" type="button" id="add_option"> + Add Option</button>
                                                            </div>
                                                        {% endif %}    
                                                    </div>    
                                                    {% if sel_opt.link_ref is not empty %}
                                                        <span class="w-100">{{sel_opt.link_ref}}</span>
                                                    {% endif %}   
                                                </div> 
                                                {% set sel_id = sel_id  + 1 %}        
                                            {% endfor %}                                               
                                        </div> 

                                        <!--Answer for Multiple choice-->
                                        <div class="form-group {{ s.question_type_id == "4"? 'show-answerfield' : 'answerfield' }}"  id="answer_checkbox">
                                            {% set chx_id = 1 %}
                                            {% for chx_opt in s.question_json_representation.checkbox.options %}       
                                                <div class="form-group">
                                                    <div class="form-row">
                                                        <div class="col-sm-6"> 
                                                            <input type="text" class="form-control checkbox_option"  value ="{{chx_opt.value}}"id="checkbox_option"    name="survey[question][1][checkbox][options][{{chx_id}}][value]" placeholder="Options for Multiple Choice" {{ s.question_type_id == "4"? "" : "disabled"}}>
                                                            <i class="form-group__bar"></i>
                                                            <br>
                                                            <input type="hidden" name="MAX_FILE_SIZE" value="1000000" {{ s.question_type_id == "4"? "" : "disabled"}}/>
                                                            <input type="file" name="survey[question][1][checkbox][options][{{chx_id}}][link_ref]" accept="image/*" value="{{chx_opt.link_ref}}" {{ s.question_type_id == "4"? "" : "disabled"}} />
                                                        </div> 
                                                        <div class="col-sm-2"><input type="number" class="form-control survey_1_options_goto" value ="{{chx_opt.goto}}" id="survey_1_options_goto" name="survey[question][1][checkbox][options][{{chx_id}}][goto]" placeholder="Branching Question Number" {{ s.question_type_id == "4"? "" : "disabled"}}></div>
                                                        <div class="col-sm-2"><input type="number" class="form-control survey_1_options_score" value ="{{chx_opt.score}}" id="survey_1_options_score" name="survey[question][1][checkbox][options][{{chx_id}}][score]" placeholder="Score" {{ s.question_type_id == "4"? "" : "disabled"}}></div>

                                                        <div class="col-sm-2 d-flex justify-content-around">

                                                            <!--Radio button for Right button-->
                                                            <label class="kt-radio kt-radio--solid kt-radio--success">
                                                                <input type="radio" name="survey[question][1][checkbox][options][{{chx_id}}][status]" {{chx_opt.status == "WAHR" ? "checked" : ""}} value="WAHR" {{ s.question_type_id == "4"? "" : "disabled"}}>Right
                                                                <span class="cio-treaction-color"></span>
                                                            </label>    

                                                            <!--Radio button for Wrong button-->
                                                            <label class="kt-radio kt-radio--solid kt-radio--success">
                                                                <input type="radio" name="survey[question][1][checkbox][options][{{chx_id}}][status]" {{chx_opt.status == "FALSCH" ? "checked" : ""}} value="FALSCH"  {{ s.question_type_id == "4"? "" : "disabled"}}>Wrong
                                                                <span class="cio-treaction-color"></span>
                                                            </label>	

                                                        </div>     
                                                        {% if chx_id == 1 %}        
                                                            <div class="col-sm-2">
                                                                <button class="btn btn-secondary float-right add_checkbox"  id="addmultiplechoice_1"name="checkbox_option" type="button" id="add_option" > + Add Option</button>               
                                                            </div>
                                                        {%endif%}
                                                    </div>
                                                        {% if chx_opt.link_ref is not empty %}
                                                            <span class="w-100">{{chx_opt.link_ref}}</span>
                                                        {% endif %}    
                                                </div> 
                                                {% set chx_id = chx_id + 1 %}        
                                            {% endfor %}                                            
                                        </div>                                     

                                        <!--Answer for Slider-->
                                        <div class="form-group {{ s.question_type_id == "2"? 'show-answerfield' : 'answerfield' }}" id="answer_range">
                                            <div class="form-row">
                                                <!-- Minimum Silder Value-->
                                                <div class="col-md-3 ">
                                                    <input type="text" class="form-control" name="survey[question][1][range][options][1][min]" value="{{s.question_json_representation.range.options.1.min}}"   value =""placeholder="Slider Minimum Value" {{ s.question_type_id == "2"? "" : "disabled"}}>
                                                    <i class="form-group__bar"></i>
                                                </div>    

                                                <!-- Max Silder Value-->
                                                <div class="col-md-2 ">
                                                    <input type="text" class="form-control" name="survey[question][1][range][options][1][max]" value="{{s.question_json_representation.range.options.1.max}}"   placeholder="Slider Maximum Value" {{ s.question_type_id == "2"? "" : "disabled"}}>
                                                    <i class="form-group__bar"></i>
                                                </div>    

                                                <!-- Max Silder Value-->
                                                <div class="col-md-2 ">
                                                    <input type="text" class="form-control" name="survey[question][1][range][options][1][right]" value="{{s.question_json_representation.range.options.1.right}}"   placeholder="Slider Right Value" {{ s.question_type_id == "2"? "" : "disabled"}}>
                                                    <i class="form-group__bar"></i>
                                                </div>    

                                                <!-- Step Silder Value--> 
                                                <div class="col-md-2 ">
                                                    <input type="text" class="form-control" name="survey[question][1][range][options][1][step]" value="{{s.question_json_representation.range.options.1.step}}"   placeholder="Slider Step Value" {{ s.question_type_id == "2"? "" : "disabled"}}>
                                                    <i class="form-group__bar"></i>
                                                </div>             

                                                <!-- Initial Silder Value-->     
                                                <div class="col-md-3 ">
                                                    <input type="text" class="form-control" name="survey[question][1][range][options][1][inital]" value="{{s.question_json_representation.range.options.1.inital}}"   placeholder="Slider Initial Value" {{ s.question_type_id == "2"? "" : "disabled"}}>
                                                    <i class="form-group__bar"></i>
                                                </div>                                                    
                                            </div>    
                                        </div>                                      
                                    </div>                                                      
                                </div>         
                            </div>       



                                <div class="kt-portlet__foot">
                                    <div class="form-row">
                                        <div class="col-md-12 ">
                                            <div class="alert survey_error"  style ="background-color:rgba(0, 0, 0, 0.96) "role="alert"> This is a danger alert—check it out! </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 ">
                                            <button class="btn btn-brand btn-elevate kt-login__btn-primary" id="create_survey" name="submit" type="submit">Update Question</button> 
                                        </div>
                                        {# <div class="col-md-6 float-right">
                                            <a href="https://dev-campaign-in-one.net/account/{{survey.acc_id}}/campaigns/{{survey.camp_id}}/survey"><button class="btn btn-brand float-right" type="button" >  &#x2190; &nbsp; Back</button></a>
                                        </div> #}
                                    </div>
                                </div>


                            {# <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12 ">
                                        <div class="alert survey_error"  style ="background-color:rgba(0, 0, 0, 0.96) "role="alert"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 ">
                                        <!--Button : Save Question-->
                                        <div class="col-auto float-right">
                                            <button class="btn btn-secondary " name="submit" type="submit">Save</button> 
                                        </div>

                                         <!--Button : Back to Survey-->
                                        <div class="col-auto float-left">
                                            <a href="https://dev-campaign-in-one.net/account/{{survey.acc_id}}/campaigns/{{survey.camp_id}}/survey"><button class="btn btn-secondary float-right" type="button" >  &#x2190; &nbsp; Back</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div> #}
                        </form>    
                        </div>
                    </div>     
                </div> 
            </div>   
        </div>
    </div>
   



{% endblock %}          

{% block javascripts %}    
    <script type="text/javascript">

    
        $('#survey').addClass("kt-widget__item--active");
        
        // Collect all the Question Ids to Array 
        var ques_ids = [];
        var div_ques_id = $(".ques-id"); 
        div_ques_id.each(function() {
            ques_ids.push(parseInt($(this).val()));
        });        
        // Save array to Local Storage
        localStorage.setItem("ques-ids", ques_ids);      
    </script>    
    <script type="text/javascript" src="https://dev-campaign-in-one.net/resources/js/survey/surveyFrontEnd.js"></script>
    <script type="text/javascript" src="https://dev-campaign-in-one.net/resources/js/survey/surveyBackEnd.js"></script>
{% endblock %}    
