{% extends "app.twig" %}

{% block content %}



    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Settings General</h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <span class="kt-subheader__desc">{{ details.acc_name }} </span>

        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <!--begin:Back to campaigns -->
                <a class="btn btn-brand btn-elevate btn-icon-sm" href="/account/campaigns/draft"><i class="la la-angle-left"></i>Back to Campaigns</a>
                <!--end:Back to campaigns -->

            </div>
        </div>
    </div>


    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->

            <!--Begin:: App Aside-->
            {{ include('/campaign_settings/leftmenu.twig') }}

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Flow Control <small>Splittest</small></h3>
                                </div>
                            </div>

                            <form class="kt-form kt-form--label-right" method="post" autocomplete="off">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">activate splittest &nbsp;&nbsp;
                                                    <a data-html="true" class=" cio-popover" data-toggle="popover" title="" data-content=""><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6 ">
                                                    <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                        <label>
                                                            
                                                            <input class="show-splittest-settings" type="checkbox" name="status">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                    <i class="toggle-switch__helper"></i>
                                                </div>
                                            </div>
                                            
                                            <div class="settings-splittest">
                                                
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">splittest name&nbsp;&nbsp;&nbsp; <a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify the name of the splittest."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="text" class="form-control" value="{{c_set.re_time}}" name="re_time" placeholder="name of splittest" autocomplete="false">
                                                    
                                                </div>
                                            </div>
                                                
                                            

                                            <div class=" form-group row">
                                             
                                                <label class="col-xl-3 col-lg-3 col-form-label">splittest variants&nbsp;&nbsp;&nbsp; <a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify if the Survey has to come before or after Lead registration."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                
                                                <div class="col-lg-9 col-xl-6">
                                                    <select class="form-control kt-select2" name="fl_cntrl_survey" >
                                                        <option>Please select</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                    </select>
                                                </div>
                                                <input type="text" class="form-control" value = "{{c_set.id}}" name="id" placeholder="This is for ID" autocomplete="false" hidden>
                                           
                                            </div>
                                                
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">cookie expiration&nbsp;&nbsp;&nbsp; <a data-html="true" class="cio-popover" data-toggle="popover" title="" data-content="Please specify the name of the splittest."><i style="color:#c5c5c5;" class="fas fa-info-circle fa-lg"></i></a></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="number" class="form-control" value="{{c_set.re_time}}" name="re_time" placeholder="enter value" autocomplete="false">
                                                    
                                                </div>
                                            </div>
                                                
                                            
                                            <p>&nbsp;</p>
                                           
                                            
                                            <div class="form-group row">
                                                
                                              <div class="col-lg-12">
                                                  
                                                <table class="table table-hover">
                                                      <thead class="thead-dark">
                                                        <tr>
                                                          <th scope="col">VARIANT</th>
                                                          <th scope="col">SPLITTEST NAME</th>
                                                          <th scope="col">URL</th>
                                                          <th scope="col">SETTINGS</th>
                                                          <th scope="col">EXPIRATION CRITERIA</th>
                                                          <th scope="col">EXPIRATION CRITERIA DETAIL</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        <tr>
                                                          <th class="align-middle" scope="row">V1</th>
                                                          <td class="align-middle">aktion</td>
                                                          <td class="align-middle">https://muster.campaign-in-one.net/aktion/v1</td>
                                                            
                                                          <td>
                                                            <div class="btn-group-toggle" data-toggle="buttons">
                                                              <label class="btn-sm btn btn-secondary">
                                                                <input type="checkbox" checked autocomplete="off">STICKY IP
                                                              </label>
                                                              <label class="btn-sm btn  btn-secondary">
                                                                <input type="checkbox" checked autocomplete="off">STICKY COOKIE
                                                              </label>
                                                            </div>
                                                          </td>  
                                                          <td class="align-middle">
                                                              
                                                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                  <label class="btn btn-secondary active">
                                                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> DATE
                                                                  </label>
                                                                  <label class="btn btn-secondary">
                                                                    <input type="radio" name="options" id="option2" autocomplete="off"> CONVERSIONS
                                                                  </label>
                                                                  <label class="btn btn-secondary">
                                                                    <input type="radio" name="options" id="option3" autocomplete="off"> VISITORS
                                                                  </label>
                                                                </div>
                                                            
                                                          </td>
                                                            <td class="align-middle"> 
                                                            <input type="number" class="form-control" value="{{c_set.re_time}}" name="re_time" placeholder="enter value" autocomplete="false">
                                                           </td> 
                                                        </tr>
                                                        <tr>
                                                          <th class="align-middle" scope="row">V2</th>
                                                          <td class="align-middle">aktion</td>
                                                          <td class="align-middle">https://muster.campaign-in-one.net/aktion/v2</td>
                                                          <td>
                                                            <div class="btn-group-toggle" data-toggle="buttons">
                                                              <label class="btn-sm btn btn-secondary">
                                                                <input type="checkbox" checked autocomplete="off">STICKY IP
                                                              </label>
                                                              <label class="btn-sm btn  btn-secondary">
                                                                <input type="checkbox" checked autocomplete="off">STICKY COOKIE
                                                              </label>
                                                            </div>
                                                          </td>
                                                          <td class="align-middle">
                                                              
                                                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                  <label class="btn btn-secondary active">
                                                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> DATE
                                                                  </label>
                                                                  <label class="btn btn-secondary">
                                                                    <input type="radio" name="options" id="option2" autocomplete="off"> CONVERSIONS
                                                                  </label>
                                                                  <label class="btn btn-secondary">
                                                                    <input type="radio" name="options" id="option3" autocomplete="off"> VISITORS
                                                                  </label>
                                                                </div>
                                                            
                                                          </td>
                                                           <td class="align-middle"> 
                                                            <input type="number" class="form-control" value="{{c_set.re_time}}" name="re_time" placeholder="enter value" autocomplete="false">
                                                           </td> 
                                                        </tr>
                                                        <tr>
                                                          <th class="align-middle" scope="row">V3</th>
                                                          <td class="align-middle">aktion</td>
                                                          <td class="align-middle">https://muster.campaign-in-one.net/aktion/v3</td>
                                                          <td>
                                                            <div class="btn-group-toggle" data-toggle="buttons">
                                                              <label class="btn-sm btn btn-secondary">
                                                                <input type="checkbox" checked autocomplete="off">STICKY IP
                                                              </label>
                                                              <label class="btn-sm btn  btn-secondary">
                                                                <input type="checkbox" checked autocomplete="off">STICKY COOKIE
                                                              </label>
                                                            </div>
                                                          </td>
                                                          <td class="align-middle">
                                                              
                                                             <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                  <label class="btn btn-secondary active">
                                                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> DATE
                                                                  </label>
                                                                  <label class="btn btn-secondary">
                                                                    <input type="radio" name="options" id="option2" autocomplete="off"> CONVERSIONS
                                                                  </label>
                                                                  <label class="btn btn-secondary">
                                                                    <input type="radio" name="options" id="option3" autocomplete="off"> VISITORS
                                                                  </label>
                                                                </div>
                                                            
                                                          </td>
                                                          <td class="align-middle"> 
                                                            <input type="number" class="form-control" value="{{c_set.re_time}}" name="re_time" placeholder="enter value" autocomplete="false">
                                                           </td> 
                                                        </tr>
                                                        <tr>
                                                          <th class="align-middle" scope="row">V4</th>
                                                          <td class="align-middle">aktion</td>
                                                          <td class="align-middle">https://muster.campaign-in-one.net/aktion/v4</td>
                                                          <td>
                                                            <div class="btn-group-toggle" data-toggle="buttons">
                                                              <label class="btn-sm btn btn-secondary">
                                                                <input type="checkbox" checked autocomplete="off">STICKY IP
                                                              </label>
                                                              <label class="btn-sm btn  btn-secondary">
                                                                <input type="checkbox" checked autocomplete="off">STICKY COOKIE
                                                              </label>
                                                            </div>
                                                          </td>
                                                          <td class="align-middle">
                                                              
                                                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                  <label class="btn btn-secondary active">
                                                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> DATE
                                                                  </label>
                                                                  <label class="btn btn-secondary">
                                                                    <input type="radio" name="options" id="option2" autocomplete="off"> CONVERSIONS
                                                                  </label>
                                                                  <label class="btn btn-secondary">
                                                                    <input type="radio" name="options" id="option3" autocomplete="off"> VISITORS
                                                                  </label>
                                                                </div>
                                                            
                                                          </td>
                                                          <td class="align-middle"> 
                                                            <input type="number" class="form-control" value="{{c_set.re_time}}" name="re_time" placeholder="enter value" autocomplete="false">
                                                           </td> 
                                                        </tr>
                                                        <tr>
                                                          <th class="align-middle"scope="row">V5</th>
                                                          <td class="align-middle">aktion</td>
                                                          <td class="align-middle">https://muster.campaign-in-one.net/aktion/v5</td>
                                                          <td>
                                                            <div class="btn-group-toggle" data-toggle="buttons">
                                                              <label class="btn-sm btn btn-secondary">
                                                                <input type="checkbox" checked autocomplete="off">STICKY IP
                                                              </label>
                                                              <label class="btn-sm btn  btn-secondary">
                                                                <input type="checkbox" checked autocomplete="off">STICKY COOKIE
                                                              </label>
                                                            </div>
                                                          </td>
                                                         <td class="align-middle">
                                                              
                                                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                  <label class="btn btn-secondary active">
                                                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> DATE
                                                                  </label>
                                                                  <label class="btn btn-secondary">
                                                                    <input type="radio" name="options" id="option2" autocomplete="off"> CONVERSIONS
                                                                  </label>
                                                                  <label class="btn btn-secondary">
                                                                    <input type="radio" name="options" id="option3" autocomplete="off"> VISITORS
                                                                  </label>
                                                                </div>
                                                            
                                                          </td>
                                                         <td class="align-middle"> 
                                                              <input type="number" class="form-control" value="{{c_set.re_time}}" name="re_time" placeholder="enter value" autocomplete="false">
                                                           </td> 
                                                        </tr>
                                                      </tbody>
                                                    </table>

                                               
                                                  
                                                </div>
                                        
                                           </div>     
                                      
                                        </div>
                                            
                                            
                                <style>
                                            
                                    .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary:hover{
                                        
                                        background-color: #7abe73!important;
                                        cursor: pointer!important;
                                        color: #fff!important;
                                    }
                                    
                               </style>            
                                            
                                            
                                            
                                            
                                            
                                            
 
                                        </div>
                                    </div>
                                </div>
                             

                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="submit" class="btn btn-brand btn-bold">Save settings</button>&nbsp;
                                                <button type="reset" class="btn btn-secondary">Reset </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('.cio-popover').popover({
                container: 'body',
                trigger : 'hover'
            })

            $('#menu-flowcontrol').addClass("show");
            $('#flow-basic').addClass("kt-widget__item--active");
        })
    </script>
    



{% endblock %}