{% extends "app.twig" %}

{% block content %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle" id="kt_subheader_mobile_toggle"><span></span></button>

            <h3 class="kt-subheader__title">Change password</h3>

            {# <span class="kt-subheader__separator kt-subheader__separator--v"></span> #}

            <span class="kt-subheader__desc">{{ auth.user }} </span>

        </div>

    </div>
    <!-- end:: Content Head -->
    <!-- begin:: Content -->

    {# <!-- begin:: Password Mismatch Error  -->
    <div class="alert alert-danger alert-dismissible fade {{password.error == '1'? "show" : "kt-hide"}}" id="p-alert" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">{{password.error >= 0? password.errorMsg : "Password mismatch"}}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
    <!-- end:: error -->     #}


    <div class="kt-content kt-grid__item kt-grid__item--fluid">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app"

        <!--Begin:: App Aside Mobile Toggle-->
        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>
        <!--End:: App Aside Mobile Toggle-->


        {% if auth.check %}
            <!--Begin:: App Aside-->
            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet">
                    <p>&nbsp;</p>
                    <div class="kt-portlet__body kt-portlet__body--fit-y">
                        <!--begin::Widget -->
                        <div class="kt-widget kt-widget--user-profile-1">
                            <div class="kt-widget__body">
                                <div class="kt-widget__items">
                                    <a href="{{ path_for('user.update') }}" class="kt-widget__item ">
                                        <span class="kt-widget__section">
                                            <span class="kt-widget__icon">
                                                <i class="fas fa-user-astronaut fa-lg"></i>
                                            </span>
                                            <span class="kt-widget__desc">
                                                &nbsp;Personal information                                                      
                                            </span>
                                        </span>
                                    </a>
                                    <a href="{{ path_for('acc.update') }}" class="kt-widget__item ">
                                        <span class="kt-widget__section">
                                            <span class="kt-widget__icon">
                                                <i class="fas fa-cog fa-lg"></i>    
                                            </span>
                                            <span class="kt-widget__desc">
                                                &nbsp;Account information                                                       
                                            </span>
                                        </span>

                                    </a>
                                    <a href="{{ path_for('auth.resetpassword') }}"
                                       class="kt-widget__item kt-widget__item--active">
                                        <span class="kt-widget__section">
                                            <span class="kt-widget__icon">            
                                                <i class="fas fa-lock fa-lg"></i>   
                                            </span>
                                            <span class="kt-widget__desc">
                                                &nbsp;Change password                                                       
                                            </span>
                                        </span>
                                    </a>
                                    <a class="kt-widget__item " id="toogle">
                                        <span class="kt-widget__section">
						                    <span class="kt-widget__icon">
							                    <i style="color: #7abe73;" class="fas fa-sitemap"></i>
						                    </span>
						                    <span class="kt-widget__desc">
							                    &nbsp;Integrations                                                      
						                    </span>
					                    </span>
                                    </a>
                                    <ul>

                                        <a href="{{ path_for('acc.settingsGeneral') }}" class="kt-widget__item hide">
                                        <span class="kt-widget__section">
                                            <span class="kt-widget__icon">            
                                                <i class="fas fa-clipboard-list fa-lg"></i>    
                                            </span>
                                            <span class="kt-widget__desc">
                                             &nbsp;General                                              
                                            </span>
                                        </span>
                                        </a>

                                        <a href="{{ path_for('acc.settingsEmail') }}" class="kt-widget__item hide">
                                        <span class="kt-widget__section">
                                            <span class="kt-widget__icon">            
                                                <i class="fas fa-envelope fa-lg"></i>   
                                            </span>
                                            <span class="kt-widget__desc">
                                             &nbsp;Email                                              
                                            </span>
                                        </span>
                                        </a>
                                        <a href="{{ path_for('acc.settingsWebinaris') }}" class="kt-widget__item hide">
                                        <span class="kt-widget__section">
                                            <span class="kt-widget__icon">            
                                                <i class="fas fa-calendar-day fa-lg"></i>   
                                            </span>
                                            <span class="kt-widget__desc">
                                            &nbsp;Webinaris                                                 
                                            </span>
                                        </span>
                                        </a>

                                        <a href="{{ path_for('acc.settingsDigistore') }}" class="kt-widget__item hide">
                                        <span class="kt-widget__section">
                                            <span class="kt-widget__icon">            
                                            <i class="fas fa-store fa-lg"></i>   
                                            </span>
                                            <span class="kt-widget__desc">
                                            &nbsp;Digistore                                                      
                                            </span>
                                        </span>
                                        </a>
                                        <a href="{{ path_for('') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fas fa-biohazard fa-lg"></i>   
                            </span>
                            <span class="kt-widget__desc">
                                &nbsp;Fraud                                                      
                            </span>
                        </span>
                                        </a>

                                        <a href="{{ path_for('acc.settingsURLApi') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fas fa-upload fa-lg"></i>   
                            </span>
                            <span class="kt-widget__desc">
                                &nbsp;URL API                                                     
                            </span>
                        </span>
                                        </a>

                                        <a href="{{ path_for('') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fas fa-mail-bulk fa-lg"></i>   
                            </span>
                            <span class="kt-widget__desc">
                                &nbsp;Mail-In-One                                                     
                            </span>
                        </span>
                                        </a>

                                        <a href="{{ path_for('') }}" class="kt-widget__item hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">            
                             <i class="fab fa-hubspot fa-lg"></i>   
                            </span>
                            <span class="kt-widget__desc">
                                &nbsp;Hubspot                                                      
                            </span>
                        </span>
                                        </a>
                                        <a href="{{ path_for('acc.settingsHttpOutbound') }}"
                                           class="kt-widget__item  hide">
                        <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span class="kt-widget__desc">
                                &nbsp;Outbound
                            </span>
                        </span>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--end::Widget -->
                    </div>
                </div>
                <!--end:: Widgets/Applications/User/Profile1-->
            </div>
            <!--End:: App Aside-->
        {% endif %}

        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">


            <!-- begin:: warnings  -->
            <div class="alert alert-danger fade {{ password.error|length ? "show" : "kt-hide" }}" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{ password.error }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
            <!-- end:: warnings -->


            <!--begin:alert -->
            <div class="alert alert-light alert-elevate fade {{ password.success|length? "show" : "kt-hide" }}"
                 role="alert">
                <div class="alert-icon"><i class="far fa-check-square"></i></div>
                <div class="alert-text">{{ password.success }}</div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
            <!--end:alert -->


            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">Change Password<small>change or reset your account
                                        password</small></h3>
                            </div>
                            <div class="kt-portlet__head-toolbar kt-hidden">
                                <div class="kt-portlet__head-toolbar">
                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="la la-sellsy"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="kt-nav">
                                                <li class="kt-nav__section kt-nav__section--first">
                                                    <span class="kt-nav__section-text">Quick Actions</span>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-graph-1"></i>
                                                        <span class="kt-nav__link-text">Statistics</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                                        <span class="kt-nav__link-text">Events</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-layers-1"></i>
                                                        <span class="kt-nav__link-text">Reports</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-bell-1o"></i>
                                                        <span class="kt-nav__link-text">Notifications</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-file-1"></i>
                                                        <span class="kt-nav__link-text">Files</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form class="kt-form kt-form--label-right" method="post">
                            <div class="kt-portlet__body">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        <!--div class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
                                            <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                                            <div class="alert-text">Password mismatch</div>
                                            <div class="alert-close">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"><i class="la la-close"></i></span>
                                                </button>
                                            </div>
                                        </div-->


                                        <div class="row">
                                            <label class="col-xl-3"></label>
                                            <div class="col-lg-9 col-xl-6">
                                                {# <h3 class="kt-section__title kt-section__title-sm">Change Or Recover Your Password:</h3> #}
                                            </div>
                                        </div>
                                        <!--div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Current Password</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input type="password" class="form-control" name="c_password" value="{{ password.c_password is empty? "" : password.c_password }}" placeholder="Current password" >
                                                    {# <a href="#" class="kt-link kt-font-sm kt-font-bold kt-margin-t-5">Forgot password ?</a>
                                                    
                                                    pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                                    
                                                     #}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Password Policy</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <ul>
                                                       <li>Should have minimum 8 characters </li>
                                                       <li>Include capital Letters</li>
                                                       <li>Include have Number</li>
                                                       <li>Include have special character</li>
                                                   </ul>                                                   
                                                </div>    
                                            </div-->
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">New Password</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input type="password" class="form-control" name="n1_password"
                                                       value="{{ password.n1_password is empty? "" : password.n1_password }}"
                                                       placeholder="New password">
                                            </div>
                                        </div>
                                        <div class="form-group form-group-last row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Verify Password</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input type="password" class="form-control" name="n2_password"
                                                       value="{{ password.n2_password is empty? "" : password.n2_password }}"
                                                       placeholder="Verify password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3">
                                        </div>
                                        <div class="col-lg-9 col-xl-9">
                                            <button type="submit" class="btn btn-brand btn-bold">Change Password
                                            </button>&nbsp;
                                            {% if auth.check %}
                                                <button type="reset" class="btn btn-secondary">Cancel</button>
                                            {% else %}
                                                <a href="https://campaign-in-one.net/">
                                                    <button type="button" class="btn btn-secondary">Back to login
                                                    </button>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--End:: App Content-->
    </div>
    <!--End::App-->
    </div>
    <!-- end:: Content -->

{% endblock %}     
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            //Hide Error Messages
            {#            $('#p-alert').hide();#}

            // Check for Submit 
            $("form").submit(function (e) {

                var status = true;
                // convert form elements to Objects
                var f_obj = $('form').getForm2obj();

                //match new and verify password
                if (!matchPassword(f_obj.n1_password, f_obj.n2_password)) {
                    status = false;
                }

                // Show error 
                if (!status) {
                    $('#p-alert').addClass("show");
                    $('#p-alert').show();
                    e.preventDefault();
                }

            });

            /* matchPassword
             * 
             * @param {string} $p1
             * @param {string} $p2
             * @returns {undefined}
             */
            function matchPassword(p1, p2) {
                var status = false;
                if ((p1 == '' || p1.length <= 1) || (p1 == '' || p1.length <= 1)) {
                    return false;
                }
                if (p1 === p2) {
                    status = true;
                }
                return status;
            }

        });
    </script>
    <script>
        $(".hide").hide();
        $("#toogle").click(function () {
            $(".hide").toggle('fast');
        });
    </script>
{% endblock %} 
