{% block leftmenu %} 
   
       {# Collect details for URL's#}        
    {% set camp_id = c_set.camp_id %}
    {% set acc_id = c_set.acc_id  %} 
    
    {% if url is not empty %}
        {% set setting_url      = "#{url}account/#{acc_id}/campaigns/#{camp_id}/setting" %}
        {% set basic_fl_cntrl_url= "#{url}account/#{acc_id}/campaigns/#{camp_id}/flowcontrol" %}
        {% set survey_url       = "#{url}account/#{acc_id}/campaigns/#{camp_id}/survey  " %}
        {% set mio_url          = "#{url}account/#{acc_id}/campaigns/#{camp_id}/mailinone" %}
        {% set hbspot_url       = "#{url}account/#{acc_id}/campaigns/#{camp_id}/hubspot  " %}
        {% set general_url      = "#{url}account/#{acc_id}/campaigns/#{camp_id}/general  " %}
        {% set dataflow_url     = "#{url}account/#{acc_id}/campaigns/#{camp_id}/dataflow  " %}
        {% set fraud_url        = "#{url}account/#{acc_id}/campaigns/#{camp_id}/fraud  " %}
        {% set messages_url     = "#{url}account/#{acc_id}/campaigns/#{camp_id}/messages  " %}
        {% set flowcontrol_url  = "#{url}account/#{acc_id}/campaigns/#{camp_id}/flowcontrol  " %}
        {% set splittest_url      = "#{url}account/#{acc_id}/campaigns/#{camp_id}/splittest" %}
        {% set mapping_url      = "#{url}account/#{acc_id}/campaigns/#{camp_id}/mappings  " %}
        {% set facebook_url     = "#{url}account/#{acc_id}/campaigns/#{camp_id}/facebook  " %}
        {% set google_url       = "#{url}account/#{acc_id}/campaigns/#{camp_id}/google  " %}
        {% set adeblo_url       = "#{url}account/#{acc_id}/campaigns/#{camp_id}/adeblo  " %}
        {% set webgains_url     = "#{url}account/#{acc_id}/campaigns/#{camp_id}/webgains  " %}
        {% set outbrain_url     = "#{url}account/#{acc_id}/campaigns/#{camp_id}/outbrain  " %}
        {% set email_url        = "#{url}account/#{acc_id}/campaigns/#{camp_id}/email  " %}
        {% set webinaris_url    = "#{url}account/#{acc_id}/campaigns/#{camp_id}/webinaris  " %}
        {% set digistore_url    = "#{url}account/#{acc_id}/campaigns/#{camp_id}/digistore  " %}
        {% set httpInbound_url      = "#{url}account/#{acc_id}/campaigns/#{camp_id}/HTTPInbound  " %}
        {% set httpOutbound_url      = "#{url}account/#{acc_id}/campaigns/#{camp_id}/HTTPOutbound  " %}
    {% endif %}


            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet ">

                    <p>&nbsp;</p>        

                    <div class="kt-portlet__body kt-portlet__body--fit-y">
                        <!--begin::Widget -->
                        <div class="kt-widget kt-widget--user-profile-1" style="padding-bottom: 0px;">

                            <div class="kt-widget__body">

                                <div class="kt-widget__items">
									
                                            <!--begin::Accordion-->

                                            <div class="accordion accordion-light  accordion-toggle-arrow" id="accordionExample5">

                                                <div class="card">
                                                    <div class="card-header" id="headingThree5" data-toggle="collapse" data-target="#menu-tracking" aria-expanded="false" aria-controls="menu-tracking" {#style="background-color:#ebf5ea;#}">
                                                        <div class="kt-widget__item" style="padding:0px 20px 0px 20px!important;">
                                                            <div class="card-title collapsed" style="padding: 0px;">
																<div class="kt-widget__item">
																	<span class="kt-widget__section">
																		<span class="kt-widget__icon">
																			<i style="color: #7abe73;" class="fas fa-sitemap"></i>
																		</span>
																		<span class="kt-widget__desc">
																			&nbsp;Tracking                                                     
																		</span>
																	</span> 
																</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="menu-tracking" class="collapse" aria-labelledby="headingThree5" data-parent="#accordionExample5">
                                                        <div class="card-body">
                                                            <ul>
                                                                <a href="{{facebook_url}}" class="kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="track-fb-url">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Facebook
                                                                    </div>
                                                                </a>
                                                                <a href="{{google_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="track-go-url">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Google
                                                                    </div>
                                                                </a>
                                                                <a href="{{adeblo_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="track-ad-url">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Adeblo
                                                                    </div>
                                                                </a>
                                                                <a href="{{webgains_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="track-web-url">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Webgains
                                                                    </div>
                                                                </a>
                                                                <a href="{{outbrain_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="track-out-url">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Outbrain
                                                                    </div>
                                                                </a>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header" id="headingThree5" data-toggle="collapse" data-target="#menu-flowcontrol" aria-expanded="false" aria-controls="menu-flowcontrol" {#style="background-color:#ebf5ea;#}">
                                                        <div class="kt-widget__item" style="padding:0px 20px 0px 20px!important;">
                                                            <div class="card-title collapsed" style="padding: 0px;">
																<div class="kt-widget__item">
																	<span class="kt-widget__section">
																		<span class="kt-widget__icon">
																			<i style="color: #7abe73;" class="fas fa-sitemap"></i>
																		</span>
																		<span class="kt-widget__desc">
																			&nbsp;Flow Control                                                    
																		</span>
																	</span> 
																</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="menu-flowcontrol" class="collapse" aria-labelledby="headingThree5" data-parent="#accordionExample5">
                                                        <div class="card-body">

                                                            <ul>
                                                                <a href="{{basic_fl_cntrl_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="flow-basic">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne9">
                                                                        &nbsp;&nbsp;Basic
                                                                    </div>
                                                                </a>

 {#                                                               <a href="{{dataflow_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="set-dataflow">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Dataflow
                                                                    </div>
                                                                </a>#}
                                                                <a href="{{splittest_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="set-dataflow">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;SplitTest
                                                                    </div>
                                                                </a>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header" id="headingThree5" data-toggle="collapse" data-target="#menu-settings" aria-expanded="false" aria-controls="menu-settings">
                                                        <div class="kt-widget__item" style="padding:0px 20px 0px 20px!important;">
                                                            <div class="card-title collapsed" style="padding: 0px;">
																<div class="kt-widget__item">
																	<span class="kt-widget__section">
																		<span class="kt-widget__icon">
																			<i style="color: #7abe73;" class="fas fa-sitemap"></i>
																		</span>
																		<span class="kt-widget__desc">
																			&nbsp;Settings                                                      
																		</span>
																	</span> 
																</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="menu-settings" class="collapse" aria-labelledby="headingThree5" data-parent="#accordionExample5">
                                                        <div class="card-body">

                                                            <ul>

                                                                <a href="{{general_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="set-gen">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne9">
                                                                        &nbsp;&nbsp;General
                                                                    </div>
                                                                </a>

                                                                <a href="{{fraud_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="set-fraud">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Fraud prevention
                                                                    </div>
                                                                </a>
                                                                <a href="{{messages_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="set-msg">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Messages
                                                                    </div>
                                                                </a>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header" id="headingOne5" >
                                                        <a href="{{ survey_url}}" class="kt-widget__item" style="padding:0px 20px 0px 20px!important;" id="survey">
                                                            <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5" style="padding: 0px;">
																<div class="kt-widget__item">
																	<span class="kt-widget__section">
																		<span class="kt-widget__icon">
																			<i style="color: #7abe73;" class="fas fa-comments"></i>
																		</span>
																		<span class="kt-widget__desc">
																			&nbsp;Survey                                                      
																		</span>
																	</span>
																</div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header" id="headingThree5" data-toggle="collapse" data-target="#menu-integrations" aria-expanded="false" aria-controls="menu-integrations">
                                                        <div class="kt-widget__item" style="padding:0px 20px 0px 20px!important;">
                                                            <div class="card-title collapsed" style="padding: 0px;">
																<div class="kt-widget__item">
																	<span class="kt-widget__section">
																		<span class="kt-widget__icon">
																			<i style="color: #7abe73;" class="fas fa-sitemap"></i>
																		</span>
																		<span class="kt-widget__desc">
																			&nbsp;Integrations                                                      
																		</span>
																	</span> 
																</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="menu-integrations" class="collapse" aria-labelledby="headingThree5" data-parent="#accordionExample5">
                                                        <div class="card-body">

                                                            <ul>
                                                               
                                                                <a href="{{mio_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="int-mio">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Mail-In-One
                                                                    </div>
                                                                </a>
                                                                <a href="{{hbspot_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="int-hb">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Hubspot
                                                                    </div>
                                                                </a>

                                                                <a href="{{httpInbound_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="int-http-Inbound">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;HTTP Inbound
                                                                    </div>
                                                                </a>

                                                                <a href="{{httpOutbound_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="int-http-Outbound">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;HTTP Outbound
                                                                    </div>
                                                                </a>

                                                                <a href="{{email_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="int-email">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Email
                                                                    </div>
                                                                </a>

                                                                <a href="{{webinaris_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="int-webinar">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Webinaris
                                                                    </div>
                                                                </a>

                                                                <a href="{{digistore_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="int-digi">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Digistore
                                                                    </div>
                                                                </a>

                                                                <a href="{{mapping_url}}" class="link-no-focus kt-widget__item" style="padding: 10px 0px 0px 5px!important" id="int-mapping">
                                                                    <div class="collapsed card-title" aria-expanded="false" aria-controls="collapseOne5">
                                                                        &nbsp;&nbsp;Mapping
                                                                    </div>
                                                                </a>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end::Accordion-->
                                </div>
                            </div>
                        </div>
                        <!--end::Widget -->
                    </div>
                </div>
                <!--end:: Widgets/Applications/User/Profile1-->
            </div>

{% endblock %}
{% block javascripts %}
<script>

</script>
{% endblock %}

