{% extends "app.twig" %}

{% block content %}


    <div class="content__inner" id="full-width-container">

        <header class="content__title text-center">
            <h1>Integrations</h1>
            <small>List of all leads for the Campaign</small>
        </header> 
        
        <div class="card">
            <div class="tab-container">  
                <ul class="nav nav-tabs nav-fill">    
                    <li class="nav-item ">
                        <a class="nav-link  active" href="#">Tracking</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#">Integrations</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#">Settings</a>
                    </li>
                </ul>                
            </div>
                    
            <div class="card-body">        
                 
            </div>     
           
        </div>   
    </div>    



{% endblock %}            
